<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% set project = "Mini-Lab 4: Logic Gates: Color Coding" %}


<!--Anika
Hack: use 8 as default
{% set MAX = ((2 ** BITS) - 1) %}

Jakub
Hack: Set bulbs and pass as variables via Python render_template
add new images (ie PNGs) to project -->
<!-- use your PNGs as default -->
{% set imgBulbOn = "/static/assets/bulb_on.gif" %}
{% set imgBulbOff = "/static/assets/bulb_off.png" %}
{% set msgTurnOn = "Off" %}
{% set msgTurnOff = "On" %}

{% block meta %}
    <title>Binary page</title>
    <script>
        let BITS = '{{ BITS }}'; let max = '{{ MAX }}'; let MAX = parseInt(max, 10);

        // return string with current value of each bit
        function getBits() {
            let bits = "";
            for(let i = 0; i < BITS; i++) {
                bits = bits + document.getElementById('digit' + i).value;
            }
            return bits;
        }
        function getBits2() {
            let bits2 = "";
            for(let i = 0; i < BITS; i++) {
                bits2 = bits2 + document.getElementById('digit2' + i).value;
            }
            return bits2;
        }

        // setter for DOM values
        {#function setConversions(binary) {#}
        {#    document.getElementById('binary').innerHTML = binary;#}
        {#    // DOM assignment to Octal conversion#}
        {#    document.getElementById('decimal').innerHTML = parseInt(binary, 2).toString(10)#}
        {#}#}
        {#function setConversions2(binary2) {#}
        {#    document.getElementById('binary2').innerHTML = binary2;#}
        {#    // DOM assignment to Octal conversion#}
        {#    document.getElementById('decimal2').innerHTML = parseInt(binary2, 2).toString(10)#}
        {#}#}
        {#function setConversionsSum(binary, binary2) {#}
        {#    var binaryValue1 = binary#}
        {#    var binaryValue2 = binary2#}
        {#    document.getElementById('binarySum').innerHTML = binarySum(binaryValue1, binaryValue2)#}
        {#}#}
        function binarySum() {
            let bitsRow1 = getBits();
            let bitsRow2 = getBits2();
            let deciRow1 = parseInt(bitsRow1, 2).toString(10);
            let deciRow2 = parseInt(bitsRow2, 2).toString(10);
            let deciSum = deciRow1 + deciRow2
            document.getElementById('decimalSum').innerHTML = parseInt(deciSum, 2).toString(10);
            document.getElementById('decimal').innerHTML = bitsRow1
            document.getElementById('decimal2').innerHTML = bitsRow2
        }

        // algorithm to convert decimal to base using division and remainder

        // toggle selected bit and recalculate
        function toggleBit(i) {
            //alert("Digit action: " + i );
            const dig = document.getElementById('digit' + i);
            const image = document.getElementById('bulb' + i);
            const butt = document.getElementById('butt' + i);
            // Change digit and visual
            if (image.src.match("{{ imgBulbOn }}")) {
                dig.value = 0;
                image.src = "{{ imgBulbOff }}";
                butt.innerHTML = "{{ msgTurnOn }}";
            } else {
                dig.value = 1;
                image.src = "{{ imgBulbOn }}";
                butt.innerHTML = "{{ msgTurnOff }}";
            }
            // Binary numbers
            const binary = getBits();
            setConversions(binary);
        }
        function toggleBit2(i) {
            //alert("Digit action: " + i );
            const dig = document.getElementById('digit2' + i);
            const image = document.getElementById('bulb2' + i);
            const butt = document.getElementById('butt2' + i);
            // Change digit and visual
            if (image.src.match("{{ imgBulbOn }}")) {
                dig.value = 0;
                image.src = "{{ imgBulbOff }}";
                butt.innerHTML = "{{ msgTurnOn }}";
            } else {
                dig.value = 1;
                image.src = "{{ imgBulbOn }}";
                butt.innerHTML = "{{ msgTurnOff }}";
            }
            // Binary numbers
            const binary2 = getBits2();
            setConversions2(binary2);
        }
        // add is positive integer, subtract is negative integer
    </script>
{% endblock %}

{% block body %}
    <h1 class="text-center">Logic Gates Lab- Unsigned Addition</h1>
    <div class="container">
        <div class="row justify-content-md-center" style="border-style: none">

            <div class="col-8">
                <table class="table">
                    <tr id="table">
                        <th>Binary</th>
                        <th>Decimal (Row 1)</th>
                        <th>Decimal (Row 2)</th>
                        <th>Sum</th>
                    </tr>
                    <tr>
                        <td id="binary">00000000</td>
                        <td id="decimal">0</td>
                        <td id="decimal2">0</td>
                        <td id="decimalSum">0</td>

                    </tr>
                </table>
            </div>

            <div class="col-12">
                <table class="table">
                    <!-- code to add rows for bits -->
                    <div>
                        {% for i in range(8) %} {# 8 bits / row #}
                            {% if i % 8 == 0 %} {# if "i" is divisible by 8, table row gets created #}
                                <tr>
                            {% endif %}
                                <td><input type='text' id='digit{{i}}' Value="0" size="1" readonly></td>
                                <td><img class="img-responsive py-3" id="bulb{{i}}" src="{{ imgBulbOff }}" alt="" width="40" height="Auto"> {# sets default image off and creates id for image #}
                                    <button type="button" id="butt{{i}}" onclick="toggleBit('{{i}}')">{{ msgTurnOn }}</button> {# sets default message to off and calls function "toggleBit" on click of button which is found on lines 68-85 #}
                                </td>
                            {% if i + 1 % 8 == 0 or i == BITS %} {# if "i" + 1 is divisible by 8 then table row is ended#}
                            </tr>
                            {% endif %}
                        {% endfor %}
                        {% for i in range(8) %} {# 8 bits / row #}
                            {% if i % 8 == 0 %} {# if "i" is divisible by 8, table row gets created #}
                                <tr>
                            {% endif %}
                                <td><input type='text' id='digit2{{i}}' Value="0" size="1" readonly></td>
                                <td><img class="img-responsive py-3" id="bulb2{{i}}" src="{{ imgBulbOff }}" alt="" width="40" height="Auto"> {# sets default image off and creates id for image #}
                                    <button type="button" id="butt2{{i}}" onclick="toggleBit2('{{i}}')">{{ msgTurnOn }}</button> {# sets default message to off and calls function "toggleBit" on click of button which is found on lines 68-85 #}
                                </td>
                            {% if i + 1 % 8 == 0 or i == BITS %} {# if "i" + 1 is divisible by 8 then table row is ended#}
                            </tr>
                            {% endif %}
                        {% endfor %}
                        <button type="button" id="functionreload" onclick="binarySum('{{ i }}'')">Submit</button>

{#                        {% for i in range(9) %} {# 8 bits / row #}
{#                            {% if i % 9 == 0 %} {# if "i" is divisible by 8, table row gets created #}
{#                                <tr>#}
{#                            {% endif %}#}
{#                                <td><input type='text' id='digit2{{i}}' Value="0" size="1" readonly></td>#}
{#                                <td><img class="img-responsive py-3" id="bulb{{i}}" src="{{ imgBulbOff }}" alt="" width="40" height="Auto"> {# sets default image off and creates id for image ##}
{#                             sets default message to off and calls function "toggleBit" on click of button which is found on lines 68-85 #}
{#                                </td>#}
{#                            {% if i + 1 % 8 == 0 or i == BITS %} {# if "i" + 1 is divisible by 8 then table row is ended#}
{#                            </tr>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
                    </div>
                </table>
            </div>



        </div>
    </div>

    <br>
{% endblock %}
