<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Test Prep Tuesdays" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <div class="center-block">
        <div class="col-12">
        <p></p>
        <p style="font-size: 35px">Test Prep Tuesdays</p>

    <!-- # The code below is for the videos in lab 2 which are displayed on the page as a list. -->
<!-- CSS-->
<style>
    .col-4 {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    }
    .col-6 {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    }
    .col-9 {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    }
    .row {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    }
    .col-sm {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    max-width: 200px;
    }
    .col-lg {
    border-style: solid;
    border-width: 2px;
    border-color: white;

    }

    }
</style>
<!--
<div class="container">
  <div class="row justify-content-start">
    <div class="col-4">
      One of two columns
    </div>
    <div class="col-4">
      One of two columns
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      One of two columns
    </div>
    <div class="col-4">
      One of two columns
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-4">
      One of two columns
    </div>
    <div class="col-4">
      One of two columns
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-4">
      One of two columns
    </div>
    <div class="col-4">
      One of two columns
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-4">
      One of two columns
    </div>
    <div class="col-4">
      One of two columns
    </div>
  </div>
</div>
<!--
<div class="row">
  <div class="col-9">Test Prep Tuesdays</div>
  <div class="col-4">Brainwrite Exercise<br></div>
  <div class="col-6"><br>Subsequent columns continue along the new line.</div>
</div>
<!-- -->

<div class="container">
    <div class="row">
        <div class="col-sm">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            Test Prep Tuesday 1 - 8/24
        </div>
        <div class="col-lg">
            <img src="/static/assets/tpt1.png" width="720 px" height="405 px">
        </div>
        <div class="w-100"></div>
        <div class="col-sm">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            Test Prep Tuesday 2 - 8/31
        </div>
        <div class="col-lg">
            <img src="/static/assets/tpt2.png" width="720 px" height="405 px">
        </div>
        <div class="w-100"></div>
        <div class="col-sm">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            Test Prep Tuesday 3 - 9/7
        </div>
        <div class="col-lg">
            <img src="/static/assets/tpt3.png" width="720 px" height="405 px">
        </div>
        <div class="w-100"></div>
        <div class="col-sm">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            Test Prep Tuesday 4 - 9/14
        </div>
        <div class="col-lg">
            <img src="/static/assets/tpt4.png" width="720 px" height="405 px">
        </div>

    </div>
</div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
