<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Weather Checks" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}


<style>
    body {
        font-size: 15px;
        text-align: center;
        background-image: url("https://wallpapercave.com/wp/wp4465199.jpg");
        background-size: 200% 200%;
        animation: none;
    }

    .titleOfHomePage {
        padding: 3%;
        font-size: 40px;
        margin-bottom: 5px;
    }
    .row {
        border-style: solid;
        border-width: 2px;
        border-color: rgba(0,0,0,0);
    }
    .col-sm {
        border-style: solid;
        border-width: 2px;
        border-color: rgba(0,0,0,0);
        padding: 70px 0;
        text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }
    .col-lg {
        border-style: solid;
        border-width: 2px;
        border-color: rgba(0,0,0,0);
        padding: 10px 0;
        max-height: 175px;
        text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }
    .disco {
        width: 300px;
        height: 300px;
        position: absolute;
        margin-left: -145px;
        margin-top: 0px;
        z-index: -1;
        display: none;
    }


</style>
<img id="disco" class="disco" src="https://img1.picmix.com/output/stamp/normal/4/6/2/5/505264_37792.gif">
<div class="titleOfHomePage">
    <p1 style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;" >Weather Checker & Tips</p1>
</div>
<p style="font-size: 23px;text-align: center; padding-left: 200px; padding-right: 200px;text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Everyday, our lives are affected by the weather. But how can you tell what the weather is like without looking outside? Don't worry, this page will help you understand weather better. First, check off the correct checkboxes regarding what the weather is like. Checking these boxes reveals images that show what the weather looks like, and what you should wear. Always make sure to check the weather before going outside.</p>
<div class="row">
    <form action="/lab4/" id="stub" method="POST" ></form>
    <div style="font-size: 25px" class="col-sm">
        Type of Weather:
    </div>
    <div style="font-size: 25px" class="col-sm">
        What it looks like:
    </div>
    <div style="font-size: 25px" class="col-sm">
        What to wear:
    </div>
    <div class="w-100"></div>
    <div class="col-sm">
        <label for="checkA" style="color: white">Sunny</label>
        <input type="checkbox" id="checkA">
        <label for="checkB" style="color: white">Cloudy</label>
        <input type="checkbox" id="checkB">
    </div>
    <div class="col-lg">
        <img src="/static/question.png" id="pic1" style="width: 150px; height: 150px">
    </div>
    <div class="col-lg">
        <img src="/static/question.png" id="pic2" style="width: 150px; height: 150px">
    </div>
    <div class="w-100"></div>
    <div class="col-sm">
        <label for="checkC" style="color: white">Raining</label>
        <input type="checkbox" id="checkC">
        <label for="checkD" style="color: white">Snow</label>
        <input type="checkbox" id="checkD">
    </div>
    <div class="col-lg">
        <img src="/static/question.png" id="img3" style="width: 150px; height: 150px">
    </div>
    <div class="col-lg">
        <img src="/static/question.png" id="img4" style="width: 150px; height: 150px">
    </div>
    <div class="w-100"></div>
    <div class="col-sm">
        <label for="checkE" style="color: white">Volcano Eruption</label>
        <input type="checkbox" id="checkE">
        <label for="checkF" style="color: white">Raining Acid</label>
        <input type="checkbox" id="checkF">
    </div>
    <div class="col-lg">
        <img src="/static/question.png" id="img5" style="width: 150px; height: 150px">
    </div>
    <div class="col-lg">
        <img src="/static/question.png" id="img6" style="width: 150px; height: 150px">
    </div>
</div>
<script>
    // sunny/cloudy background
    function bgChanger(){
        document.body.style.backgroundSize = "150% 150%"
        document.body.style.animation = 'none'
        document.body.style.backgroundImage = "url('https://wallpaperaccess.com/full/2312673.jpg')"
        var img = document.getElementById('disco');
        img.style.display = 'none'
    }
    // cloudy background
    function bgChanger2(){
        document.body.style.backgroundSize = "150% 150%"
        document.body.style.animation = 'none'
        document.body.style.backgroundImage = "url('https://wallpaperaccess.com/full/862202.png')"
        var img = document.getElementById('disco');
        img.style.display = 'none'
    }
    // sunny background
    function bgChanger3(){
        document.body.style.backgroundSize = "150% 150%"
        document.body.style.animation = 'none'
        document.body.style.backgroundImage = "url('https://www.pngmagic.com/product_images/all-free-download-blue-gradient-background.jpg')"
        var img = document.getElementById('disco');
        img.style.display = 'none'
    }
    // default background
    function bgChanger4(){
        document.body.style.backgroundSize = "150% 150%"
        document.body.style.animation = 'none'
        document.body.style.backgroundImage = "url('https://wallpapercave.com/wp/wp4465199.jpg')"
        var img = document.getElementById('disco');
        img.style.display = 'none'
    }
    // rain background
    function bgChanger5(){
        document.body.style.backgroundSize = "150% 150%"
        document.body.style.animation = 'none'
        document.body.style.backgroundImage = "url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/D8qa-2E/blurry-city-skyline-window-view-sad-bad-weather-rain-drops-background_rzeld4gxs_thumbnail-1080_01.png')"
        var img = document.getElementById('disco');
        img.style.display = 'none'
    }
    // snow background
    function bgChanger6(){
        document.body.style.backgroundSize = "150% 150%"
        document.body.style.animation = 'none'
        document.body.style.backgroundImage = "url('https://ak.picdn.net/shutterstock/videos/14184539/thumb/1.jpg')"
        var img = document.getElementById('disco');
        img.style.display = 'none'
    }
    // blizzard background
    function bgChanger7(){
        document.body.style.backgroundSize = "150% 150%"
        document.body.style.animation = 'none'
        document.body.style.backgroundImage = "url('https://ak.picdn.net/shutterstock/videos/14844505/thumb/1.jpg')"
        var img = document.getElementById('disco');
        img.style.display = 'none'
    }
    // lava background
    function bgChanger8(){
        document.body.style.backgroundSize = "150% 150%"
        document.body.style.animation = 'none'
        document.body.style.backgroundImage = "url('https://cdn.wallpapersafari.com/36/1/y73Nqt.jpg')"
        var img = document.getElementById('disco');
        img.style.display = 'none'
    }
    // acid background
    function bgChanger9(){
        document.body.style.backgroundSize = "150% 150%"
        document.body.style.animation = 'none'
        document.body.style.backgroundImage = "url('https://ak.picdn.net/shutterstock/videos/31938277/thumb/1.jpg')"
        var img = document.getElementById('disco');
        img.style.display = 'none'
    }
    //wasteland background
    function bgChanger10(){
        document.body.style.backgroundSize = "150% 150%"
        document.body.style.animation = 'none'
        document.body.style.backgroundImage = "url('https://i.pinimg.com/originals/9a/df/e0/9adfe0dbdf5170923090a6955cd7c702.jpg')"
        var img = document.getElementById('disco');
        img.style.display = 'none'
    }
    function Surprise() {
        document.body.style.backgroundSize = "150% 150%"
        document.body.style.animation = 'none'
        document.body.style.backgroundImage = "url('https://www.guinnessworldrecords.com/Images/Largest-Easter-Egg-decoration_tcm25-567653.jpg')"
        var img = document.getElementById('disco');
        img.style.display = 'inline'
    }
    var buttonA = document.getElementById('checkA');
    var buttonB = document.getElementById('checkB');
    buttonA.addEventListener("change", function() {
        if (buttonA.checked && buttonB.checked) {
            document.getElementById('pic1').src = "/static/sunny_cloudy.png"
            document.getElementById('pic2').src = "/static/sunny_cloudy_clothes.png"
            bgChanger()
        } else if (buttonA.checked && !buttonB.checked) {
            document.getElementById('pic1').src = "/static/sunny.png"
            document.getElementById('pic2').src = "/static/sunny_clothes.png"
            bgChanger3()
        } else if (!buttonA.checked && buttonB.checked) {
            document.getElementById('pic1').src = "/static/cloudy.png"
            document.getElementById('pic2').src = "/static/cloudy_clothing.png"
            bgChanger2()
        } else {
            document.getElementById('pic1').src = "/static/question.png"
            document.getElementById('pic2').src = "/static/question.png"
            bgChanger4()
        }
    })
</script>
<script>
    var buttonA = document.getElementById('checkA');
    var buttonB = document.getElementById('checkB');
    buttonB.addEventListener("change", function() {
        if (buttonB.checked && buttonA.checked) {
            document.getElementById('pic1').src = "/static/sunny_cloudy.png"
            document.getElementById('pic2').src = "/static/sunny_cloudy_clothes.png"
            bgChanger()
            }
        else if (!buttonB.checked && buttonA.checked) {
            document.getElementById('pic1').src = "/static/sunny.png"
            document.getElementById('pic2').src = "/static/sunny_clothes.png"
            bgChanger3()
        }
        else if (buttonB.checked && !buttonA.checked) {
            document.getElementById('pic1').src = "/static/cloudy.png"
            document.getElementById('pic2').src = "/static/cloudy_clothing.png"
            bgChanger2()
        }
        else {
            document.getElementById('pic1').src = "/static/question.png"
            document.getElementById('pic2').src = "/static/question.png"
            bgChanger4()
        }
    })
</script>
<script>
    var buttonC = document.getElementById('checkC');
    var buttonD = document.getElementById('checkD');
    buttonC.addEventListener("change", function() {
        if (buttonC.checked && buttonD.checked) {
            document.getElementById('img3').src = "/static/blizzard.png"
            document.getElementById('img4').src = "/static/blizzard_clothes.png"
            bgChanger7()
        } else if (buttonC.checked && !buttonD.checked) {
            document.getElementById('img3').src = "/static/raining.png"
            document.getElementById('img4').src = "/static/raining_clothes.png"
            bgChanger5()
        } else if (!buttonC.checked && buttonD.checked) {
            document.getElementById('img3').src = "/static/snowing.png"
            document.getElementById('img4').src = "/static/snowing_clothes.png"
            bgChanger6()
        } else {
            document.getElementById('img3').src = "/static/question.png"
            document.getElementById('img4').src = "/static/question.png"
            bgChanger4()
        }
    })
</script>
<script>
    var buttonC = document.getElementById('checkC');
    var buttonD = document.getElementById('checkD');
    buttonD.addEventListener("change", function() {
        if (buttonD.checked && buttonC.checked) {
            document.getElementById('img3').src = "/static/blizzard.png"
            document.getElementById('img4').src = "/static/blizzard_clothes.png"
            bgChanger7()
        } else if (!buttonD.checked && buttonC.checked) {
            document.getElementById('img3').src = "/static/raining.png"
            document.getElementById('img4').src = "/static/raining_clothes.png"
            bgChanger5()
        } else if (buttonD.checked && !buttonC.checked) {
            document.getElementById('img3').src = "/static/snowing.png"
            document.getElementById('img4').src = "/static/snowing_clothes.png"
            bgChanger6()
        } else {
            document.getElementById('img3').src = "/static/question.png"
            document.getElementById('img4').src = "/static/question.png"
            bgChanger4()
        }
    })
</script>
<script>
    var buttonA = document.getElementById('checkA');
    var buttonB = document.getElementById('checkB');
    var buttonC = document.getElementById('checkC');
    var buttonD = document.getElementById('checkD');
    var buttonE = document.getElementById('checkE');
    var buttonF = document.getElementById('checkF');
    buttonE.addEventListener("change", function() {
        if (buttonE.checked && buttonF.checked) {
            document.getElementById('img5').src = "/static/wasteland.png"
            document.getElementById('img6').src = "/static/headstone.png"
            bgChanger10()
        } else if (buttonE.checked && !buttonF.checked) {
            document.getElementById('img5').src = "/static/volcano.png"
            document.getElementById('img6').src = "/static/volcano_suit.png"
            bgChanger8()
        } else if (!buttonE.checked && buttonF.checked) {
            document.getElementById('img5').src = "/static/acid.png"
            document.getElementById('img6').src = "/static/hazmat.png"
            bgChanger9()
        }
        else {
            document.getElementById('img5').src = "/static/question.png"
            document.getElementById('img6').src = "/static/question.png"
            bgChanger4()
        }
    })
</script>
<script>
    var buttonE = document.getElementById('checkE');
    var buttonF = document.getElementById('checkF');
    buttonF.addEventListener("change", function() {
        if (buttonF.checked && buttonE.checked) {
            document.getElementById('img5').src = "/static/wasteland.png"
            document.getElementById('img6').src = "/static/headstone.png"
            bgChanger10()
        } else if (!buttonF.checked && buttonE.checked) {
            document.getElementById('img5').src = "/static/volcano.png"
            document.getElementById('img6').src = "/static/volcano_suit.png"
            bgChanger8()
        } else if (buttonF.checked && !buttonE.checked) {
            document.getElementById('img5').src = "/static/acid.png"
            document.getElementById('img6').src = "/static/hazmat.png"
            bgChanger9()
        } else {
            document.getElementById('img5').src = "/static/question.png"
            document.getElementById('img6').src = "/static/question.png"
            bgChanger4()
        }
    })
</script>
<script>
    var buttonA = document.getElementById('checkA');
    var buttonB = document.getElementById('checkB');
    var buttonC = document.getElementById('checkC');
    var buttonD = document.getElementById('checkD');
    var buttonE = document.getElementById('checkE');
    var buttonF = document.getElementById('checkF');
    buttonB.addEventListener("change", function() {
        if (buttonB.checked && buttonE.checked) {
            buttonF.addEventListener("change", function() {
                if (buttonF.checked && buttonD.checked) {
                    buttonA.addEventListener("change", function() {
                        if (buttonA.checked && buttonC.checked) {
                            Surprise()
                        }
                    })
                }
            })
        }
    })
</script>




{% endblock %}


<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
