<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Hot" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<!- Try building a new body here ->
<style>
    body {
        background-image: url('https://gal.cdn.renderosity.com/images/image_2535023/dcdeede6111dbe2ca0642c331d68c76f_large.jpg?v=1400546958');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        font-size: 10px;
        text-align: center;
    }

    img {
        margin-left: 15px;
        margin-right: 15px;
    }

    .h1 {
        color: white;
        font-size: 40px;
        text-align: left;
        margin-left: 20px;
    }

    .h2 {
        font-size: 40px;
        text-align: right;
        margin-right: 20px;
    }

    .t1 {
        color: white;
        font-size: 22px;
        text-align: left;
        margin-left: 20px;
        max-width: 650px;
        word-wrap: break-word;
        margin-bottom: 100px;
    }

    .titleOfHomePage {
        color: white;
        font-size: 70px;
        margin-left: 10px;
        text-align: center;
    }
    .row {
        border-style: solid;
        border-width: 2px;
        border-color: rgba(0,0,0,0);
    }
    .col-sm {
        border-style: solid;
        border-width: 2px;
        border-color: rgba(0,0,0,0);
        font-size: 26px;
        text-align: left;
    }
    .col-lg {
        border-style: solid;
        border-width: 2px;
        border-color: rgba(0, 0, 0, 0);
        font-size: 44px;
    }

</style>
<div class="titleOfHomePage">
    <p>When it's Hot:</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg">
            What to do:
        </div>
        <div class="col-lg">
            <p>
                What
                <span style="color:red">NOT</span>
                do to:
            </p>
        </div>
        <div class="w-100"></div>
        <ul class="col-sm">
            <li>Wear clothing made of breathable materials such as linen</li>
            <li>Stay hydrated- drink lots of water</li>
            <li>Wear lots of sunscreen</li>
            <li>Stay inside- there are lots fun activities that can be done inside, such as visiting an indoor skating rink, eating ice cream, going to the pool</li>
        </ul>
        <ul class="col-sm">
            <li>Spend too much time outside- excess exposure to UV rays can be harmful to your body</li>
            <li>Drink caffeinated beverages instead of water- it's very important to stay hydrated!</li>
            <li>Leave plastic bottles in the car- BPA levels in plastic water bottles can increase when they have excess exposure from the sun</li>
        </ul>
    </div>
</div>

{% endblock %}
