<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "WTD: Hot" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <style>
        body {
            background-image: url("https://gal.cdn.renderosity.com/images/image_2535023/dcdeede6111dbe2ca0642c331d68c76f_large.jpg?v=1400546958");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            font-size: 10px;
            text-align: center;
        }

        img {
            margin-left: 15px;
            margin-right: 15px;
        }

        .h1 {
            color: white;
            font-size: 40px;
            text-align: left;
            margin-left: 20px;
        }

        .h2 {
            font-size: 40px;
            text-align: right;
            margin-right: 20px;
        }

        .t1 {
            color: white;
            font-size: 22px;
            text-align: left;
            margin-left: 20px;
            max-width: 650px;
            word-wrap: break-word;
            margin-bottom: 100px;
        }

        .titleOfHomePage {
            color: white;
            font-size: 60px;
            margin-left: 10px;
            text-align: center;
        }
        .col-sm {
            border-style: solid;
            border-width: 2px;
            border-color: white;
            max-width: 200px;
        }
        .col-lg {
            border-style: solid;
            border-width: 2px;
            border-color: white;

        }
    </style>
    <div class="titleOfHomePage">
        <p>When it's Hot:</p>
    </div>
{% endblock %}
