<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Clouds" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <style>
        body {
            background-image: url('https://ak.picdn.net/shutterstock/videos/1012649966/thumb/1.jpg');
            font-size: 10px;
            text-align: center;
        }

        img {
            margin-left: 15px;
            margin-right: 15px;
        }

        .h1 {
            color: white;
            font-size: 40px;
            text-align: left;
            margin-left: 20px;
        }

        .h2 {
            font-size: 40px;
            text-align: right;
            margin-right: 20px;
        }

        .t1 {
            color: white;
            font-size: 22px;
            text-align: left;
            margin-left: 20px;
            max-width: 650px;
            word-wrap: break-word;
            margin-bottom: 100px;
        }

        .titleOfHomePage {
            color: white;
            font-size: 60px;
            margin-left: 10px;
            text-align: center;
        }
        .row {
            border-style: solid;
            border-width: 2px;
            border-color: rgba(0,0,0,0);
        }
        .col-sm {
            border-style: solid;
            border-width: 2px;
            border-color: rgba(0,0,0,0);
            font-size: 22px;
        }
        .col-lg {
            border-style: solid;
            border-width: 2px;
            border-color: rgba(0, 0, 0, 0);
            font-size: 40px;
        }

    </style>
    <div class="titleOfHomePage">
        <p>When there's a storm:</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                What to do:
            </div>
            <div class="col-lg">
                What NOT to do:
            </div>
            <div class="w-100"></div>
            <ul class="col-sm">
                <li>clothes</li>
                <li>inside</li>
            </ul>
            <ul class="col-sm">
                <li>go outside</li>
                <li>metal</li>
            </ul>
        </div>
    </div>

 {% endblock %}
