<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Clouds" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <style>
        body {
            background-image: url('https://chrismartinphotography.files.wordpress.com/2011/07/a-dark-prairie-storm-c2a9-2011-christopher-martin.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            font-size: 10px;
            text-align: center;
        }

        img {
            margin-left: 15px;
            margin-right: 15px;
        }

        .h1 {
            color: white;
            font-size: 40px;
            text-align: left;
            margin-left: 20px;
        }

        .h2 {
            font-size: 40px;
            text-align: right;
            margin-right: 20px;
        }

        .t1 {
            color: white;
            font-size: 22px;
            text-align: left;
            margin-left: 20px;
            max-width: 650px;
            word-wrap: break-word;
            margin-bottom: 100px;
        }

        .titleOfHomePage {
            color: white;
            font-size: 70px;
            margin-left: 10px;
            text-align: center;
        }
        .row {
            border-style: solid;
            border-width: 2px;
            border-color: rgba(0,0,0,0);
        }
        .col-sm {
            border-style: solid;
            border-width: 2px;
            border-color: rgba(0,0,0,0);
            font-size: 26px;
            text-align: left;
        }
        .col-lg {
            border-style: solid;
            border-width: 2px;
            border-color: rgba(0, 0, 0, 0);
            font-size: 44px;
        }

    </style>
    <div class="titleOfHomePage">
        <p>When there's a storm:</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                What to do:
            </div>
            <div class="col-lg">
                <p>
                    What
                    <span style="color:red">NOT</span>
                    do to:
                </p>
            </div>
            <div class="w-100"></div>
            <ul class="col-sm">
                <li>Wear insulating clothes: Jackets, hoodies, sweaters, etc.</li>
                <li>Seek shelter: Avoid elevated areas, bodies of water, and objects that conduct electricity</li>
                <li>Stay inside: No risk of lightning or cold</li>
                <li>Turn off electronics: Lightning strike can cause power surges, destroying electronic objects like computers or TVs</li>
            </ul>
            <ul class="col-sm">
                <li>Go outside: Increases chance of lightning strike or hazardous cold</li>
                <li>Stay near metal objects: Metal atracts lightning, increasing the chance of being struck</li>
                <li>Take shelter under trees: Tall trees are more likely to be struck by lightning, and may fall on you</li>
            </ul>
        </div>
    </div>

 {% endblock %}
