<!DOCTYPE html>
<html lang="en">
{% extends "layouts/base.html" %}

{% block body %}
    <html>
    <body>
    <script>
        function displayRandomImages()
        {
            //array of images 
            var imageArray = [
                (Something to put here)
                    ];

            //find the length of the array of images
            var arrayLength = imageArray.length;
            var newArray = [];
            for (var i = 0; i < arrayLength; i++) {
                newArray[i] = new Image();
                newArray[i].src = imageArray[i].src;

            }

            // create random image number
            function getRandomNum(min, max)
            {
                // generate and return a random number for the image to be displayed
                imgNo = Math.floor(Math.random() * (max - min + 1)) + min;
                return newArray[imgNo];
            }

            // 0 is first image and (preBuffer.length - 1) is last image of the array
            var newImage = getRandomNum(0, newArray.length - 1);

            // remove the previous images
            var images = document.getElementsByTagName('img');
            var l = images.length;
            for (var p = 0; p < l; p++) {
                images[0].parentNode.removeChild(images[0]);
            }
            // display the new random image
            document.body.appendChild(newImage);
        }
    </script>
    <div>
        <center>
            <h2 style="color:black"> Random Movie Generator </h2>
            <h4> Press the button to generate a random movie </h4>
            <button onclick="displayRandomImages();"> Random Movie </button>
            {% for x in list %}
                <p>{{ list.title }}</p>
                <p>{{ list.image }}</p>
            {% endfor %}
        </center>
    </div>
    </body>
    </html>
{% endblock %}
