<!DOCTYPE html>
<html lang="en">
{% extends "layouts/base.html" %}
{% block body %}
    <head>
        <title>Top Movies</title>
        <link rel="stylesheet" type="text/css" href="/static/scss/layouts/layout1.css">
        <style>

            p {
                font-family: "sans-serif";
                font-size: 21px;
                padding-left: 600px;
                padding-right: 600px;
            }
        </style>

    </head>

    <body>
        <h1 style="text-align: center" >Top 10 Movies of All Time</h1>
        {% for movie in d_list %}
        <br>
        <br>
        <img src="{{ movie.image }}">
        <h2 style="text-align: center">{{ movie.title }}</h2>
        <h5 style="text-align: center">{{ movie.tagline }}</h5>
        <h4 style="text-align: center">{{ movie.genre }}</h4>
        <p style="text-align: center">{{ movie.caption }}</p>
        <p style="text-align: center">Released in {{ movie.country }} on {{ movie.date }}, {{ movie.title }} runs for {{ movie.runtime }} minutes, with viewers rating it at {{ movie.rating }} out of 10</p>
        {% endfor %}
    </body>
</html>
{% endblock %}