<!DOCTYPE html>
<html lang="en">
{% extends "layouts/base.html" %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Learn Top Movies</title>
    <style>
        code {
            margin-left:20%;
            margin-right:20%;
            color:black;
        }
        h {
            margin-left:auto;
            margin-right:auto;
        }
        p {
            margin-left:30%;
            margin-right:30%;
        }
    </style>
</head>
<body>
<h1>Learn Top Movies</h1>
<h2>Preface:</h2>
<p>You will need to make an account and register an API KEY with <a href="https://themoviedb.org/signup">themoviedb.org/signup</a> before being able to use this code.
Any part of the code that says "_API KEY_" is a placeholder for when you get your API KEY. You will also need to change the "render_template(..., d_list=d_list) to where
your pages are located in your repository.</p>
<h3>Full Code:</h3>
<code>
def top():
    id_list = []
    config = (requests.get("https://api.themoviedb.org/3/configuration?api_key=_API KEY_")).json()
    top = (requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=_API KEY_&language=en-US&page=1")).json()
    x = 0
    while x < 10:
        id = top["results"][x]["id"]
        id_list.append(id)
        x += 1

    d_list = []
    for id in id_list:
        d_json = (requests.get("https://api.themoviedb.org/3/movie/" + str(id) + "?api_key=_API KEY_&language=en-US")).json()
        n_dict = {}
        n_dict["genre"] = d_json["genres"][0]["name"]
        n_dict["caption"] = d_json["overview"]
        n_dict["country"] = d_json["production_countries"][0]["name"]
        n_dict["date"] = d_json["release_date"]
        n_dict["runtime"] = d_json["runtime"]
        n_dict["tagline"] = d_json["tagline"]
        n_dict["title"] = d_json["title"]
        n_dict["rating"] = d_json["vote_average"]
        n_dict["image"] = config["images"]["secure_base_url"] + "w185" + d_json["poster_path"]
        d_list.append(n_dict)
    return render_template("popcornpages/top.html", d_list=d_list)
</code>
<code>
    config = (requests.get("https://api.themoviedb.org/3/configuration?api_key=_API KEY_")).json()
    top = (requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=_API KEY_&language=en-US&page=1")).json()
</code>
These two lines are requests to the themoviedb(tMDB) API: the first one is to get config links for the image display; the second for the details of the entire first page of top movies.
</body>
{% endblock %}
</html>