<style>
    pList:hover {
        color: mediumaquamarine;
        cursor: pointer;
    }
    pList {
        font-family: Copperplate, fantasy;
        font-size: 22px;
        margin: -2.8% 0% -4%;
        color: #55ACEE;
        text-align: center;
    }
    a {
        color: #000000;
    }
    .navbar-nav {
        padding-left: 10px;
        padding-right: 10px;
    }
    .dropdown {
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar-brand {
        margin-top: -6px;
    }

</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-hazard">
    <a style="font-family: Impact; font-size: 38px; color: white" class="navbar-brand">Backpack Pro</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div style="font-family: Helvetica" class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <a class="nav-link" style="font-size: 30px" href="/">Home</a>
            <!-- stub is shown using the name of the route -->
        </div>
        <div style="font-family: Helvetica" class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <a class="nav-link" style="font-size: 30px; color: red; " href="/forums">Forums</a>
            <!-- stub is shown using the name of the route -->
        </div>
        <div class="dropdown">
            <pList style="font-size: 28px;font-family: Helvetica;" class="dropdown1" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
            </pList>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                <a class="dropdown-item" href="/hamza">Hamza</a>
                <a class="dropdown-item" href="/jakub">Jakub</a>
                <a class="dropdown-item" href="/kevin">Kevin</a>
                <a class="dropdown-item" href="/sreeja">Sreeja</a>
                <a class="dropdown-item" href="/tristan">Tristan</a>
            </div>
        </div>

        <div class="dropdown">
            <pList style="font-size: 28px;font-family: Helvetica;" class="dropdown1" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Class Topics
            </pList>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                <a class="dropdown-item" href={{ url_for('crud.crud') }}>CRUD</a>
                <a class="dropdown-item" href={{ url_for('crud_api.crud_api') }}>CRUD Async</a>
                <a class="dropdown-item" href={{ url_for('crud.search') }}>Search</a>
                <a class="dropdown-item" href="/math">Math</a>
                <a class="dropdown-item" href="/history">US History</a>
                <a class="dropdown-item" href="/sci">Science</a>
                <a class="dropdown-item" href="/lit">Literature</a>
            </div>
        </div>
    </div>
</nav>