<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">{{basename}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <a class="nav-link" href="/main_page">Home</a>
            <!-- stub is shown using the name of the route -->
            <a class="nav-link" href="/jakub">Jakub</a>
            <a class="nav-link" href="/tristan">Tristan</a>
            <a class="nav-link" href="/vunsh">Vunsh</a>
            <a class="nav-link" href="/anika">Anika</a>
            <a class="nav-link" href="/empty"></a>
        </div>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Mini-Labs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/lab1/">Mini-Lab 1: Greet</a>
                    <a class="dropdown-item" href="/lab2/">Mini-Lab 2: Journal 0 Videos</a>
                </div>
            </li>
        <div/>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Weather Information
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/weather1">Clouds</a>
                    <a class="dropdown-item" href="/weather2">Sun</a>
                    <a class="dropdown-item" href="/weather3">Wind</a>
                </div>
            </li>
        <div/>
    </div>
</nav>