<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% block meta %}
    <title>Nighthawk Tutoring - Calendar</title>
    <script src={{  url_for("crud.static", filename="javascript/validation.js", version='101') }}></script>
    <script src={{  url_for("crud.static", filename="javascript/reload_page.js", version='101') }}></script>
{% endblock %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <style>
        .popup {
            position: relative;
            display: inline-block;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* The actual popup */
        .popup .popuptext {
            visibility: hidden;
            width: 160px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 8px 0;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -80px;
        }

        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        /* Toggle this class - hide and show the popup */
        .popup .show {
            visibility: visible;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
        }

        /* Add animation (fade in the popup) */
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
            ul {
                list-style-type: none;
            }
            body {
                font-family: Verdana, sans-serif;
            }
        }

        /* Month header */
        .month {
            padding: 50px 50px;
            margin-left: 10%;
            width: 80%;
            height: 50px;
            background: #56c756;
        }

        /* Month list */
        .month ul {
            margin: -20px;
        }

        .month ul li {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        /* Previous button inside month header */
        .month .prev {
            float: left;
            margin-left: -40px;
            padding-top: 10px;
        }

        /* Next button */
        .month .next {
            float: right;
            padding-top: 10px;
        }
        button {
            background: none;
            border: none;
        }
        button:focus, input[type="button"]:focus {
            outline: none;
        }

        /* Weekdays (Mon-Sun) */
        .weekdays {
            width: 80%;
            margin-left: 10%;
            margin-bottom: 0;
            padding: 10px 0;
            background-color:#000;
        }

        .weekdays li {
            display: inline-block;
            width: 13.6%;
            color: #fff;
            text-align: center;
        }

        /* Days (1-31) */
        .days {
            width: 80%;
            padding: 10px 0;
            background: #111;
            margin-left: 10%;
        }

        .days button {
            list-style-type: none;
            display: inline-block;
            width: 13.6%;
            height: 45px;
            text-align: center;
            margin-bottom: 5px;
            font-size:12px;
            color: #86db86;
        }

        /* Highlight the "current" day */
        .days button .active {
            padding: 5px;
            background: white;
            color: black !important
        }

    </style>

    <script>
        function popup() {
            for (i = 0; i < 31; i++) {
                popupy = document.getElementById((i + 1).toString());
                popupy.classList.toggle("show");
            }
        }

    </script>
    <div class="titleOfHomePage">
        <p>Admin Calendar</p>
    </div>
    <div class="month">
        <ul>
            <button onclick="button_left()" class="prev">&#10094;</button>
            <button onclick="button_right()" class="next">&#10095;</button>
            <div style="margin-left: 45%" class="row">
                <p id="month">May</p>
                <p>&nbsp;-&nbsp;</p>
                <p id="year">2022</p>
            </div>
        </ul>
    </div>

    <ul class="days">
        <button><div class="popup" onclick="popup()">1<span class="popuptext" id="1">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">2<span class="popuptext" id="2">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">3<span class="popuptext" id="3">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">4<span class="popuptext" id="4">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">5<span class="popuptext" id="5">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">6<span class="popuptext" id="6">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">7<span class="popuptext" id="7">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">8<span class="popuptext" id="8">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">9<span class="popuptext" id="9">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">10<span class="popuptext" id="10">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">11<span class="popuptext" id="11">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">12<span class="popuptext" id="12">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">13<span class="popuptext" id="13">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">14<span class="popuptext" id="14">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">15<span class="popuptext" id="15">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">16<span class="popuptext" id="16">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">17<span class="popuptext" id="17">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">18<span class="popuptext" id="18">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">19<span class="popuptext" id="19">A Simple birthday!</span>
        </div></button>
        <button><div class="popup active" onclick="popup()">20<span class="popuptext" id="20">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">21<span class="popuptext" id="21">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">22<span class="popuptext" id="22">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">23<span class="popuptext" id="23">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">24<span class="popuptext" id="24">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">25<span class="popuptext" id="25">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">26<span class="popuptext" id="26">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">27<span class="popuptext" id="27">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">28<span class="popuptext" id="28">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">29<span class="popuptext" id="29">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">30<span class="popuptext" id="30">A Simple birthday!</span>
        </div></button>
        <button><div class="popup" onclick="popup()">31<span class="popuptext" id="31">A Simple birthday!</span>
        </div></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
    </ul>
    <div class="container py-4">
        <div class="p-5 mb-4 bg-dark text-light rounded-3">
            <h2>Create a new record</h2>
            <form style="margin-left: 10%" method="POST" ID="create" action={{url_for('calendar.create')}} >
                <table style="color: white; width: 50%" class="table">
                    <thead>
                    <tr>
                        <th><label for="name">Name</label></th>
                        <th><label for="event">Event</label></th>
                        <th><label for="day">Day</label></th>
                        <th><label for="yearmonth">Month</label></th>
                        <th><label for="create">Create</label></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input style='width: 200px' type="text" name="name" id="name" required></td>
                        <td><input type="text" name="event" id="event" required></td>
                        <td><input style='width: 40px' type="text" name="day" id="day" required></td>
                        <td><input style='width: 175px' type="month" name="yearmonth" id="yearmonth" required></td>
                        <td><input type="submit" value="Create"></td>
                    </tr>
                    </tbody>
                </table>
                <p id="pswError"></p>
            </form>
        </div>

    </div>
    <div style="width: 35%" class="container py-1">

        <div class="row mb-5 bg-dark text-light rounded-3">

            <div style="width: 50%; margin-right: 130px" class="col-md-3">
                <div class="p-5 mb-4 bg-dark text-light rounded-3">
                    <h2>Read</h2>
                    <form method="POST" ID="read" action={{url_for('calendar.read')}} >
                        <table id="read_table">
                            <tr><th><label for="read_eventid">ID</label></th></tr>
                            <tr>
                                <td>
                                    <select name="eventid" id="read_eventid">
                                        <optgroup label="eventid">
                                            {% for row in table %}
                                                <option label="{{ row['eventID'] }}">{{ row['eventID'] }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    </select>
                                </td>
                                <td>
                                    <input type="submit" value="Read">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>

            <div class="col-md-3">
                <div class="p-5 mb-4 bg-dark text-light rounded-3">
                    <h2>Delete</h2>
                    <form method="POST" ID="read" action={{url_for('calendar.delete')}} >
                        <table id="read_table">
                            <tr><th><label for="delete_eventid">ID</label></th></tr>
                            <tr>
                                <td>
                                    <select name="eventid" id="delete_eventid">
                                        <optgroup label="eventid">
                                            {% for row in table %}
                                                <option label="{{ row['eventID'] }}">{{ row['eventID'] }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    </select>
                                </td>
                                <td><input type="submit" value="Delete"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-left: 250px" class="col-md-8">
        <div class="p-5 mb-4 bg-dark text-light rounded-3">
            <h2>Update</h2>
            <form method="POST" ID="update" action={{url_for('calendar.update')}} >
                <table id="update_table">
                    <tr>
                        <th><label for="update_eventid">ID</label></th>
                        <th><label for="update_name">Name</label></th>
                        <th><label for="update_event">Event</label></th>
                        <th><label for="update_day">Day</label></th>
                        <th><label for="update_yearmonth">Month</label></th>
                    </tr>
                    <tr>
                        <td>
                            <select name="eventid" id="update_eventid">
                                <optgroup label="eventid">
                                    {% for row in table %}
                                        <option label="{{ row['eventID'] }}">{{ row['eventID'] }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </td>
                        <td><input style='width: 200px' type="text" name="name" id="update_name" required></td>
                        <td><input style='width: 200px' type="text" name="event" id="update_event" required></td>
                        <td><input style='width: 40px' type="text" name="day" id="update_day" required></td>
                        <td><input style='width: 175px' type="month" name="yearmonth" id="update_yearmonth" required></td>
                        <td><input type="submit" value="Update"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="container py-4">
        <div class="p-5 mb-4 bg-dark text-light rounded-3">
            <h2>Backpack Pro Database Viewer</h2>
            <div style="margin-top: -25px" class="row align-items-md-stretch">
                <div class="container-fluid py-3">
                    <a href={{url_for('calendar.admin')}}>Full Table</a>
                    <table style="color: white" class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Event</th>
                            <th>Day</th>
                            <th>Year & Month</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Loop through rows in table -->
                        {% for row in table %}
                            <tr>
                                <td>{{ row['eventID'] }}</td>
                                <td>{{ row['name'] }}</td>
                                <td>{{ row['event'] }}</td>
                                <td>{{ row['day'] }}</td>
                                <td>{{ row['yearmonth'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <script>
        let n = 4
        let year = 2022
        function button_left() {
            n = n - 1
            if (
                n < 0
            ) year_changer()
            month_changer(n)
        }

        function button_right() {
            n = n + 1
            if (
                n > 11
            ) year_changer()
            month_changer(n)
        }
        function month_changer(num) {
            if (
                num === 0
            ) document.getElementById("month").innerHTML = "January"
            else if (
                num === 1
            ) document.getElementById("month").innerHTML = "February"
            if (
                num === 2
            ) document.getElementById("month").innerHTML = "March"
            if (
                num === 3
            ) document.getElementById("month").innerHTML = "April"
            if (
                num === 4
            ) document.getElementById("month").innerHTML = "May"
            if (
                num === 5
            ) document.getElementById("month").innerHTML = "June"
            if (
                num === 6
            ) document.getElementById("month").innerHTML = "July"
            if (
                num === 7
            ) document.getElementById("month").innerHTML = "August"
            if (
                num === 8
            ) document.getElementById("month").innerHTML = "September"
            if (
                num === 9
            ) document.getElementById("month").innerHTML = "October"
            if (
                num === 10
            ) document.getElementById("month").innerHTML = "November"
            if (
                num === 11
            ) document.getElementById("month").innerHTML = "December"

        }
        function year_changer() {
            if (n > 11) {
                year += 1; n = 0
            }
            else if (n < 1) {
                year -= 1; n = 11
            }
            document.getElementById("year").innerHTML = year.toString()
        }


    </script>
{% endblock %}
