<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Calendar" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <style>
        ul {list-style-type: none;}
        body {font-family: Verdana, sans-serif;}

        /* Month header */
        .month {
            padding: 50px 50px;
            margin-left: 10%;
            width: 80%;
            height: 50px;
            background: #56c756;
        }

        /* Month list */
        .month ul {
            margin: -20px;
        }

        .month ul li {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        /* Previous button inside month header */
        .month .prev {
            float: left;
            margin-left: -40px;
            padding-top: 10px;
        }

        /* Next button */
        .month .next {
            float: right;
            padding-top: 10px;
        }
        button {
            background: none;
            border: none;
        }

        /* Weekdays (Mon-Sun) */
        .weekdays {
            width: 80%;
            margin-left: 10%;
            margin-bottom: 0;
            padding: 10px 0;
            background-color:#000;
        }

        .weekdays li {
            display: inline-block;
            width: 13.6%;
            color: #fff;
            text-align: center;
        }

        /* Days (1-31) */
        .days {
            width: 80%;
            padding: 10px 0;
            background: #111;
            margin-left: 10%;
        }

        .days button {
            list-style-type: none;
            display: inline-block;
            width: 13.6%;
            height: 45px;
            text-align: center;
            margin-bottom: 5px;
            font-size:12px;
            color: #86db86;
        }

        /* Highlight the "current" day */
        .days button .active {
            padding: 5px;
            background: white;
            color: black !important
        }

    </style>
    <div class="titleOfHomePage">
        <p>Student Calendar</p>
    </div>
    <div class="month">
        <ul>
            <button onclick="button_left()" class="prev">&#10094;</button>
            <button onclick="button_right()" class="next">&#10095;</button>
            <li><p id="month_name">August - 2022</p></li>
        </ul>
    </div>

    <ul class="days">
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
        <button>5</button>
        <button>6</button>
        <button>7</button>
        <button>8</button>
        <button>9</button>
        <button>10</button>
        <button><span class="active">11</span></button>
        <button>12</button>
        <button>13</button>
        <button>14</button>
        <button>15</button>
        <button>16</button>
        <button>17</button>
        <button>18</button>
        <button>19</button>
        <button>20</button>
        <button>21</button>
        <button>22</button>
        <button>23</button>
        <button>24</button>
        <button>25</button>
        <button>26</button>
        <button>27</button>
        <button>28</button>
        <button>29</button>
        <button>30</button>
        <button>31</button>
        <button> </button>
        <button> </button>
        <button> </button>
        <button> </button>
    </ul>
    <script>
        let n = 7
        function button_left() {
            n = n - 1
            if (
                n < 0
            ) n = 11
            month_changer(n)
        }

        function button_right() {
            n = n + 1
            if (
                n > 11
            ) n = 0
            month_changer(n)
        }

        function month_changer(num) {
            if (
                num === 0
            ) document.getElementById("month_name").innerHTML = "January - 2023"
            else if (
                num === 1
            ) document.getElementById("month_name").innerHTML = "February - 2023"
            if (
                num === 2
            ) document.getElementById("month_name").innerHTML = "March - 2023"
            if (
                num === 3
            ) document.getElementById("month_name").innerHTML = "April - 2023"
            if (
                num === 4
            ) document.getElementById("month_name").innerHTML = "May - 2023"
            if (
                num === 5
            ) document.getElementById("month_name").innerHTML = "June - 2023"
            if (
                num === 6
            ) document.getElementById("month_name").innerHTML = "July - 2023"
            if (
                num === 7
            ) document.getElementById("month_name").innerHTML = "August - 2022"
            if (
                num === 8
            ) document.getElementById("month_name").innerHTML = "September - 2022"
            if (
                num === 9
            ) document.getElementById("month_name").innerHTML = "October - 2022"
            if (
                num === 10
            ) document.getElementById("month_name").innerHTML = "November - 2022"
            if (
                num === 11
            ) document.getElementById("month_name").innerHTML = "December - 2022"

        }


    </script>
{% endblock %}
