<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% block meta %}
    <title>Nighthawk Tutoring - Calendar</title>
    <script src={{  url_for("crud.static", filename="javascript/validation.js", version='101') }}></script>
    <script src={{  url_for("crud.static", filename="javascript/reload_page.js", version='101') }}></script>
{% endblock %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <style>
        ul {list-style-type: none;}
        body {font-family: Verdana, sans-serif;}

        /* Month header */
        .month {
            padding: 50px 50px;
            margin-left: 10%;
            width: 80%;
            height: 50px;
            background: #56c756;
        }

        /* Month list */
        .month ul {
            margin: -20px;
        }

        .month ul li {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        /* Previous button inside month header */
        .month .prev {
            float: left;
            margin-left: -40px;
            padding-top: 10px;
        }

        /* Next button */
        .month .next {
            float: right;
            padding-top: 10px;
        }
        button {
            background: none;
            border: none;
        }

        /* Weekdays (Mon-Sun) */
        .weekdays {
            width: 80%;
            margin-left: 10%;
            margin-bottom: 0;
            padding: 10px 0;
            background-color:#000;
        }

        .weekdays li {
            display: inline-block;
            width: 13.6%;
            color: #fff;
            text-align: center;
        }

        /* Days (1-31) */
        .days {
            width: 80%;
            padding: 10px 0;
            background: #111;
            margin-left: 10%;
        }

        .days button {
            list-style-type: none;
            display: inline-block;
            width: 13.6%;
            height: 45px;
            text-align: center;
            margin-bottom: 5px;
            font-size:12px;
            color: #86db86;
        }

        /* Highlight the "current" day */
        .days button .active {
            padding: 5px;
            background: white;
            color: black !important
        }

    </style>
    <div class="titleOfHomePage">
        <p>Admin Calendar</p>
    </div>
    <div class="month">
        <ul>
            <button onclick="button_left()" class="prev">&#10094;</button>
            <button onclick="button_right()" class="next">&#10095;</button>
            <li><p id="month_name">May - 2022</p></li>
        </ul>
    </div>

    <ul class="days">
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
        <button>5</button>
        <button>6</button>
        <button>7</button>
        <button>8</button>
        <button>9</button>
        <button>10</button>
        <button>11</button>
        <button>12</button>
        <button>13</button>
        <button>14</button>
        <button>15</button>
        <button><span class="active">16</span></button>
        <button>17</button>
        <button>18</button>
        <button>19</button>
        <button>20</button>
        <button>21</button>
        <button>22</button>
        <button>23</button>
        <button>24</button>
        <button>25</button>
        <button>26</button>
        <button>27</button>
        <button>28</button>
        <button>29</button>
        <button>30</button>
        <button>31</button>
        <button> </button>
        <button> </button>
        <button> </button>
        <button> </button>
    </ul>
    <div class="container py-4">
        <div class="p-5 mb-4 bg-dark text-light rounded-3">
            <h2>Create a new record</h2>
            <form style="margin-left: 15%" method="POST" ID="create" action={{url_for('calendar.create')}} >
                <table style="color: white; width: 50%" class="table">
                    <thead>
                    <tr>
                        <th><label for="name">Name</label></th>
                        <th><label for="event">Event</label></th>
                        <th><label for="day">Day</label></th>
                        <th><label for="yearmonth">Month</label></th>
                        <th><label for="create">Create</label></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input style='width: 100px' type="text" name="name" id="name" required></td>
                        <td><input type="text" name="event" id="event" required></td>
                        <td><input style='width: 40px' type="text" name="day" id="day" required></td>
                        <td><input style='width: 175px' type="month" name="yearmonth" id="yearmonth" required></td>
                        <td><input type="submit" value="Create"></td>
                    </tr>
                    </tbody>
                </table>
                <p id="pswError"></p>
            </form>
        </div>

    </div>
    <div class="container py-1">

        <div class="row mb-5 bg-dark text-light rounded-3">

            <div style="width: 50%" class="col-md-3">
                <div class="p-5 mb-4 bg-dark text-light rounded-3">
                    <h2>Read</h2>
                    <form method="POST" ID="read" action={{url_for('calendar.read')}} >
                        <table id="read_table">
                            <tr><th><label for="read_eventid">ID</label></th></tr>
                            <tr>
                                <td>
                                    <select name="eventid" id="read_eventid">
                                        <optgroup label="eventid">
                                            {% for row in table %}
                                                <option label="{{ row['eventID'] }}">{{ row['eventID'] }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    </select>
                                </td>
                                <td>
                                    <input type="submit" value="Read">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>

            <div class="col-md-3">
                <div class="p-5 mb-4 bg-dark text-light rounded-3">
                    <h2>Delete</h2>
                    <form method="POST" ID="read" action={{url_for('calendar.delete')}} >
                        <table id="read_table">
                            <tr><th><label for="delete_eventid">ID</label></th></tr>
                            <tr>
                                <td>
                                    <select name="eventid" id="delete_eventid">
                                        <optgroup label="eventid">
                                            {% for row in table %}
                                                <option label="{{ row['eventID'] }}">{{ row['eventID'] }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    </select>
                                </td>
                                <td><input type="submit" value="Delete"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-left: 15%" class="col-md-8">
        <div class="p-5 mb-4 bg-dark text-light rounded-3">
            <h2>Update</h2>
            <form method="POST" ID="update" action={{url_for('calendar.update')}} >
                <table id="update_table">
                    <tr>
                        <th><label for="update_eventid">ID</label></th>
                        <th><label for="update_name">Name</label></th>
                        <th><label for="update_event">Event</label></th>
                        <th><label for="update_day">Day</label></th>
                        <th><label for="update_yearmonth">Month</label></th>
                    </tr>
                    <tr>
                        <td>
                            <select name="eventid" id="update_eventid">
                                <optgroup label="eventid">
                                    {% for row in table %}
                                        <option label="{{ row['eventID'] }}">{{ row['eventID'] }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </td>
                        <td><input style='width: 200px' type="text" name="name" id="update_name" required></td>
                        <td><input style='width: 200px' type="text" name="event" id="update_event" required></td>
                        <td><input style='width: 40px' type="text" name="day" id="update_day" required></td>
                        <td><input style='width: 175px' type="month" name="yearmonth" id="update_yearmonth" required></td>
                        <td><input type="submit" value="Update"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="container py-4">
        <div class="p-5 mb-4 bg-dark text-light rounded-3">
            <h2>Backpack Pro Database Viewer</h2>
            <div style="margin-top: -25px" class="row align-items-md-stretch">
                <div class="container-fluid py-3">
                    <a href={{url_for('calendar.admin')}}>Full Table</a>
                    <table style="color: white" class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Event</th>
                            <th>Day</th>
                            <th>Year & Month</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Loop through rows in table -->
                        {% for row in table %}
                            <tr>
                                <td>{{ row['eventID'] }}</td>
                                <td>{{ row['name'] }}</td>
                                <td>{{ row['event'] }}</td>
                                <td>{{ row['day'] }}</td>
                                <td>{{ row['yearmonth'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <script>
        let n = 4
        function button_left() {
            n = n - 1
            if (
                n < 0
            ) n = 11
            month_changer(n)
        }

        function button_right() {
            n = n + 1
            if (
                n > 11
            ) n = 0
            month_changer(n)
        }

        function month_changer(num) {
            if (
                num === 0
            ) document.getElementById("month_name").innerHTML = "January - 2022"
            else if (
                num === 1
            ) document.getElementById("month_name").innerHTML = "February - 2022"
            if (
                num === 2
            ) document.getElementById("month_name").innerHTML = "March - 2022"
            if (
                num === 3
            ) document.getElementById("month_name").innerHTML = "April - 2022"
            if (
                num === 4
            ) document.getElementById("month_name").innerHTML = "May - 2022"
            if (
                num === 5
            ) document.getElementById("month_name").innerHTML = "June - 2022"
            if (
                num === 6
            ) document.getElementById("month_name").innerHTML = "July - 2022"
            if (
                num === 7
            ) document.getElementById("month_name").innerHTML = "August - 2022"
            if (
                num === 8
            ) document.getElementById("month_name").innerHTML = "September - 2022"
            if (
                num === 9
            ) document.getElementById("month_name").innerHTML = "October - 2022"
            if (
                num === 10
            ) document.getElementById("month_name").innerHTML = "November - 2022"
            if (
                num === 11
            ) document.getElementById("month_name").innerHTML = "December - 2022"

        }


    </script>
{% endblock %}
