<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Mini-Lab 2" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->

    <!-- # The code below is for the videos in lab 2 which are displayed on the page as a list. -->

    <div class="center-block" style="font-size:20px; margin: 2% 2% 2%; text-align:left; font-family: verdana,sans-serif;">
        <p style="font-size:45px">Mini-Lab 2:</p>
        <p>Journal 0 Video Integration </p>
        <p>Jakub Ponulak Video</p>
        <iframe src="https://drive.google.com/file/d/13Q3lPjO1NeK_FOu9Cvr6ee_-m_uqaS-o/preview" width="640" height="480" allow="autoplay"></iframe>
        <p>Tristan Copley Video</p>
        <iframe src="https://drive.google.com/file/d/1QxNpKLzmxgEksKFHV6KYScZ-VRVGn_RN/preview" width="640" height="480" allow="autoplay"></iframe>
        <p>Anika Sharma Video</p>
        <iframe src="https://drive.google.com/file/d/1VTac6N3CV-K3G3-p8_3ZTn-zFYIWbX3R/preview" width="640" height="480" allow="autoplay"></iframe>
        <p>Vunsh Mehta Video</p>
        <iframe src="https://drive.google.com/file/d/12Ua5m910pql6ozpfJnBV7mlJiuG5NZ0P/preview" width="640" height="480" allow="autoplay"></iframe>
        <p></p>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
