<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Sun" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <style>
        body {
        background-color: #a7ecf2;
        font-size: 15px;
        text-align: center;
        }

        img {
        margin-left: 15px;
        margin-right: 15px;
        }

        .h1 {
        color: white;
        font-size: 25px;
        text-align: left;
        margin-left: 20px;
        }

        .h2 {
            font-size: 25px;
            text-align: right;
            margin-right: 20px;
        }

        .t1 {
            color: white;
            font-size: 19px;
            text-align: left;
            margin-left: 20px;
            max-width: 650px;
            word-wrap: break-word;
            margin-bottom: 100px;
        }

        .titleOfHomePage {
        color: white;
        font-size: 55px;
        margin-left: 10px;
        text-align: center;
        }

    </style>
<div class="titleOfHomePage">
    <p>The Sun</p>
</div>

<img style="max-width: 700px; max-height: 320px; float: right" src="https://www.ymcaharrison.org/sites/ymcaharrison.org/files/pexels-pixabay-301599.jpg">

<div class="h1">
    <p>The Basics:</p>
</div>

<div class="t1">
    <p>The sun that we see everyday is the star in the center of our solar system. The Earth orbits around the sun, which keeps the planet warm and bright. The temperature of the sun's core is about 27 M degrees Fahrenheit,  and is approximately 109 times as big as Earth. It is made up of mostly hydrogen and helium.</p>
    <br>
    <a href="https://www.nasa.gov/sun">Source & More Information</a>
</div>

<br>

<img style="max-width: 700px; max-height: 320px; float: left" src="https://media.hswstatic.com/eyJidWNrZXQiOiJjb250ZW50Lmhzd3N0YXRpYy5jb20iLCJrZXkiOiJnaWZcL3JlZGVmaW5lZm91cnNlYXNvbnMtMS5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjgyOH19fQ==">

<div class="h2">
    <p>How it affects the weather:</p>
</div>

<div class="t1" style="text-align: right; margin-left: 750px; margin-right: 20px; max-width: 100%">
    <p>The sun keeps the Earth warm and lit up.  Without the sun, the surface of the Earth would turn into an icy wasteland. As the Earth rotates around the Sun, the temperature on Earth changes in the form of changing seasons. During the summer, the sun is closer to Earth, where it gets warmer. On the other hand, during the winter, the sun is further away from the Earth, which causes temperatures to drop.</p>
    <br>
    <a href="https://www.nationalgeographic.org/encyclopedia/season/">Source & More Information</a>
</div>

{% endblock %}


<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
