<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Jakub" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <style>
        body {
            background: linear-gradient(-45deg, #01438f, #430c7a, #d90dd4);
            background-size: 800% 800%;
            text-align: center;
            animation: gradient 14s ease infinite;
        }
        .col-12 {
            font-family: Chalkboard
        }
        .col-lg {
            border-color: white;
            border-style: solid;
            max-width: 900px;
            font-family: Arial;
            font-size: 30px;
            background-color:#2a475e;
            border-width: 1px;
        }
        .col-sm {
            border-color: white;
            border-style: solid;
            max-width: 300px;
            font-family: Arial;
            font-size: 15px;
            background-color:#2a475e;
            border-width: 1px;
        }
        .col-8 {
            border-color: white;
            border-style: solid;
            max-width: 300px;
            padding: 40px;
            font-family: Arial;
            font-size: 15px;
            background-color:#2a475e;
            border-width: 1px;
        }
    </style>
    <p style="margin-top:10px;font-size:45px; font-family: Chalkboard">Welcome, my name is Jakub Ponulak!</p>
    <a style="font-family: Chalkboard; font-size: 30px; font-family: 'Roboto', sans-serif; color: lightblue" href="https://docs.google.com/presentation/d/18iga0TGCSFYNBifNM4t4W3cC2LTcPm3Q6XIjjuCpFjA/edit?usp=sharing">Team Journal</a>
    <br>
    <a style="font-family: Chalkboard; font-size: 30px; font-family: 'Roboto', sans-serif; color: lightblue" href="https://docs.google.com/presentation/d/1AT39h9CxG4NIHYyiUUC_T8nwjfJDg2KpHYwVhEW2vXw/edit?usp=sharing">TPT Journal</a>
    <div style="margin-top: 25px" class="row justify-content-center">
        <div class="col-lg">
            Recently played games on Steam (using Steam's API)
        </div>
        <div class="w-100"></div>
        <div class="col-sm">Game</div>
        <div class="col-sm">Time Played (2 weeks)</div>
        <div class="col-sm">Time Played (Lifetime)</div>
        <div class="w-100"></div>
        <div class="col-sm">
            {{ g1 }}
            <br>
            <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ g1ID }}/{{ g1img }}.jpg">
        </div>
        <div class="col-8">{{ g1t }} hours</div>
        <div class="col-8">{{ g1tT }} hours</div>
        <div class="w-100"></div>
        <div class="col-sm">
            {{ g2 }}
            <br>
            <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ g2ID }}/{{ g2img }}.jpg">
        </div>
        <div class="col-8">{{ g2t }} hours</div>
        <div class="col-8">{{ g2tT }} hours</div>
        <div class="w-100"></div>
        <div class="col-sm">
            {{ g3 }}
            <br>
            <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ g3ID }}/{{ g3img }}.jpg">
        </div>
        <div class="col-8">{{ g3t }} hours</div>
        <div class="col-8">{{ g3tT }} hours</div>
    </div>
    <br>
    <div>
    <script>
        function changeSrc() {
            var img = document.getElementById("image1")
            img.src="https://itsnothouitsme.com/2017/11/04/best-pizza-in-houston/img_6859/"
            return false
        }
        function changeSrc2() {
            var img = document.getElementById("image1")
            img.src="https://cdn.abcotvs.com/dip/images/4504840_101718-dd-dunn-in-n-out-burger-houston-vid.jpg?w=1600"
            return false
        }
    </script>
    <img style="max-width: 500px; max-height: 200px" id="image1" src="https://cdn.abcotvs.com/dip/images/4504840_101718-dd-dunn-in-n-out-burger-houston-vid.jpg?w=1600">
    <br>
    <button onclick="changeSrc()">Favorite Food 1</button>
    <button onclick="changeSrc2()">Favorite Food 2</button>
    </div>
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: verdana,sans-serif;">
        <div class="col-12">
            <p style="font-size:29px">Who I am</p>
            <p>I am a Junior at Del Norte High School. My family is from Poland, which I am very proud of (that's why my name is spelled J-A-K-U-B instead of the normal J-A-C-O-B). I am roughly 5'11'', with dark brown hair and blue eyes. </p>
            <img src="https://1z8qih1l8tj53pg8zi3f9dif-wpengine.netdna-ssl.com/wp-content/uploads/2017/01/Del-Norte-HS-Poway-K12-Structural-San-Diego-1200x600.jpg" width="240" height="160">
            <img src="https://m.media-amazon.com/images/I/61xvFPfQUwL._AC_SX425_.jpg" width="240" height="160">
            <p></p>
            <p style="font-size:29px">What I like</p>
            <p>One of my biggest interests is engineering. I enjoy making physical things, such as assembling furniture, 3D-puzzles, or even LEGOs. I also like to play video games when I have free time, like Skyrim or Team Fortress 2. When I am tired of sitting in front of a computer, I often go biking, listening to my favorite music while getting some exercise. I also like to watch short videos on YouTube; one of my favorite types of videos is comedy sketches, made my creators like Gus Johnson, who I subscribe to. </p>
            <img src="https://www.realtyexecutives.com/blog/wp-content/uploads/2019/09/teenage-boy-assembling-furniture-with-his-father-picture-id1082564414.jpg" width="160" height="120">
            <img src="https://cdn-ext.fanatical.com/production/product/1280x720/305f04c9-8780-4c7b-91dd-e87979844dab.jpg" width="180" height="120">
            <img src="https://www.portasouthjetty.com/wp-content/uploads/images/2016-04-07/1p1.jpg" width="160" height="120">
            <img src="https://cdn.searchenginejournal.com/wp-content/uploads/2020/09/youtube-shorts-5f73757dc34a3-760x400.png" width="180" height="120">
            <p></p>
            <p style="font-size:29px">What I want to do</p>
            <p>In the near future I want to do well in school so that I can attend a good college. I want to major in mechanical engineering, so I am hoping to get into such schools like the California Institute of Technology or the California Polytechnic State University. When I graduate from college, I want to find a good job: Not an easy one, nor a lucrative one, but rather a job that I look forward to every day. I want to be able to apply what I know to the real world, helping people solve their problems through mechanical engineering.</p>
            <img src="https://www.calpoly.edu/sites/calpoly.edu/files/2021-02/Lawn%20Sign_CPBOUND.jpg" width="240" height="170">
            <img src="https://www.mw.tum.de/fileadmin/w00btx/mw/Forschung/Schwerpunktthemen/Mechanical-Engineering/Mechanical-Engineering_Work-at-MSRM.jpg" width="360" height="170">
        </div>
    </div>
{% endblock %}