{% extends "layouts/base.html" %}

{% set basename = "" %}
{% set project = " Kevin Chen " %}
{% set para1 = "Hello, my name is Kevin Chen. I was born in San Diego, California. I grew up in the Rancho Bernardo area until I moved to 4s ranch around 5th grade. I am currently a Senior here at Del Norte. I am fluent in Chinese and English, but I primarily speak Chinese at home. I am primarily interested in basketball, technology and business. I enjoy playing PC games, hanging out with friends, eating good foods and traveling. The place that I like travelling to the most is Taiwan, since my grandparents live there, I enjoy eating the unique asian foods and going sightseeing. Some goals that I have in life is to pursue a degree in finance or business related field." %}
{% set imageSRC = "kevin.PNG" %}
{% set imageWidth = "425" %}
{% set imageHeight = "425" %}

<body>
{% block button %}   ]
{% endblock %}

{% block button2 %}
{% endblock %}
</body>