{% extends "layouts/base.html" %}

{% set project = "Sreeja" %}

{% block body %}
    <style>
        body {
            background-image: linear-gradient(90deg, #CEC8E4, #A4BCE0);
            background-size: 800% 800%;
            text-align: center;
        }
        #aboutCanvas {
            position: absolute;
            left: 0;
            top: 0;
            padding: 0;
            margin: 0;
            z-index: -1;
        }
    </style>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body>
    <div class="w3-container w3-sand">
        <h2 style="text-align:center;margin: 45px;">A Little About Me</h2>
        <p>Brooklyn Nine-Nine Quotes: {{ text }}</p>
        <p style="text-align:center;margin: 45px;">Hi! I'm Sreeja and I am a junior! I am 16 years old and I've lived
            in San Diego my whole life with my parents and older brother. I have a dog named Bandit who is 3 and I love
            to relax with him after a long day. When I'm not hanging out with my friends, I'm taking pictures, playing
            volleyball, painting, or reading. As of right now, I don't really know what I want to be when I'm older, however,
            I'm leaning towards becoming a psychiatrist or a biotech engineer. These are some pictures of me! </p>
        <p style="text-align:center;margin: 45px;">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vS2ACXY_8427bQnLWY4aMNA2XbCYH9dUcgF_VnFKCnpNpExb8c8yx7a5pZa3MdGnMxEYNbqKpqO1SGm/embed?start=false&loop=false&delayms=3000" style="height: 250px; width: 350px;"></iframe>
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSHGuWhFW_xb7dW54CySo_nj7tly9BzT_YY495xK5yeHGOdpes8BH-FBAY5usbDJ4CNIzVSGAFPpLrJ/embed?start=false&loop=false&delayms=3000" style="height: 250px; width: 350px;"></iframe>
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTuTDF_y-tpL62KDlcn8eBkxAPgXK0-lPUcxA5lfLjxFt16b0x_K-Kmauco9bya9KvdfjjnKcutwBVq/embed?start=false&loop=false&delayms=3000" style="height: 250px; width: 350px;"></iframe>
        </p>
    </div>
    </body>
    <script>
        // this function enables me to toggle between two images, showing my favorite places to go
        let toggle = false
        function changeSrc() {
            if (toggle === true) {
                document.getElementById("image1").src ="/static/assets/sreejaImages/sreeja2.jpg"
            } else {
                document.getElementById("image1").src ="/static/assets/sreejaImages/sreeja4.jpg"
            }
            toggle = !toggle
        }
    </script>

    <div style="text-align: center;">
        <img src="/static/assets/sreejaImages/sreeja3.JPG" height="500" width="370" alt='null'>
        <img style="max-width: 370px; max-height: 500px" id="image1" src="/static/assets/sreejaImages/sreeja2.jpg" alt='null'>
        <img src="/static/assets/sreejaImages/sreeja1.jpg" height="500" width="370" alt='null'>
        <br><button onclick="changeSrc()">Toggle Old/Young Picture</button>
    </div>
    <br><br/>
    <canvas id='aboutCanvas'></canvas>
    <script>
        let c = document.getElementById('aboutCanvas');
        let ctx = c.getContext('2d');
        let frame= 0;
        let draw = 0;
        c.width = window.innerWidth;
        c.height = window.innerHeight - 1;
        fallingCharacters = [];
        let posX = c.width / 2;
        let posY = c.height / 2;
        let characters = 'abcdefghijklmnopqrstuvwx\.yz0123456789!@#$%^&*/\\()_+-=,?><:"}{|\'ﺼﺒﺓﺔﺕﺖﺗㄳㄵㄶㄺㄻㄼㄽㄾㄿㅀㅄ東京とうきょうトーキョー'
        let fontSize = 20
        class fallingCharacter {
            constructor(y) {
                this.xPos = Math.floor(Math.random() * c.width / fontSize * 2) * fontSize / 2;
                this.yPos = y;
                this.character = characters.substr(Math.round(Math.random() * (characters.length - 1)),1)
                this.special = Math.random();
                this.special = this.special > 0.5 ? 'true' : 'false';
            }
            update() {
                this.yPos += fontSize

                if (this.special === 'true') {
                    this.character = characters.substr(Math.round(Math.random() * (characters.length - 1)),1)
                }
            }
            draw() {
                ctx.fillText(this.character, this.xPos, this.yPos);
            }
        }
        for (let i = 0; i < 700; i++) {
            fallingCharacters.push(new fallingCharacter(Math.floor(Math.random() * c.height / fontSize) * fontSize));
        }
        {#ctx.fillStyle = 'rgb(54,134,224)'
        ctx.fillRect(0, 0, c.width, c.height);#}
        let previousTime = 0.0;

        const loop = time => {
            // Compute the delta-time against the previous time
            const dt = time - previousTime; previousTime = time;

            // Update game
            update(dt);

            // Repeat
            window.requestAnimationFrame(loop);
        };

        // Launch
        window.requestAnimationFrame(time => {
            previousTime = time;

            window.requestAnimationFrame(loop);
        });

        function update(dt) {
            frame += dt
            if (frame > 20) {
                frame = frame % 20
                draw++
                ctx.fillStyle = 'rgb(77,120,201, 0.01)'
                ctx.fillRect(0, 0, c.width, c.height);
            }
            if (draw === 3) {
                ctx.fillStyle = 'rgb(54,134,224)'
                ctx.font = `${fontSize}px Verdana`;
                for (let i = 0; i < fallingCharacters.length; i++) {
                    fallingCharacters[i].update()
                    fallingCharacters[i].draw()
                    if (fallingCharacters[i].yPos > c.height) {
                        fallingCharacters[i] = new fallingCharacter(0)
                    }
                }
                draw = 0
            }
        }
        addEventListener('mousemove', e => {
            posX = e.pageX;
            posY = e.pageY;
        });
    </script>
{% endblock %}

{% block background %}
{% endblock %}