<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "History" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <style>
        body {
            background-color: #a7daf2;
            font-size: 10px;
            text-align: center;
        }

        img {
            margin-left: 15px;
            margin-right: 15px;
        }

        .h1 {
            color: white;
            font-size: 40px;
            text-align: center;
            margin-left: 20px;
        }

        .h2 {
            font-size: 40px;
            text-align: right;
            margin-right: 20px;
        }

        .t1 {
            color: white;
            font-size: 22px;
            margin-left: 200px;
            margin-right: 200px;
            text-align: center;
            margin-bottom: 100px;
        }

        .titleOfHomePage {
            color: white;
            font-size: 60px;
            margin-left: 10px;
            text-align: center;
        }

    </style>
    <div class="titleOfHomePage">
        <p>US History</p>
    </div>


    <div class="h1">
        <p>Learn about the history of the United States of America.</p>
    </div>

    <div class="t1">
        <p>Starting in 1776, when the founding fathers wrote the Declaration of Independance, America has been full of rich and important history which shapes the world even today.</p>
    </div>


{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
