<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "History" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <style>
        img {
            margin-left: 15px;
            margin-right: 15px;
        }
    </style>
    <div class="titleOfHomePage">
        <p>History</p>
    </div>


    <div class="h1">
        <p>What is "History" and how can we help you with it?</p>
    </div>

    <div class="t1">
        <p>History is the study of the past. Events before the invention of writing systems are considered prehistory. "History" is an umbrella term comprising past events as well as the memory, discovery, collection, organization, presentation, and interpretation of these events</p>
    </div>


{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
