<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Literature" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <style>
    </style>
    <div class="titleOfHomePage">
        <p>Literature</p>
    </div>


    <div class="h1">
        <p>What is "Literature" and how can we help you with it?</p>
    </div>

    <div class="t1">
        <p>Literature broadly is any collection of written work, but it is also used more narrowly for writings specifically considered to be an art form, especially prose fiction, drama, and poetry. In recent centuries, the definition has expanded to include oral literature, much of which has been transcribed. </p>
    </div>
    <canvas id="miniQuiz"></canvas>

    <script>
    let miniQuizzesData = {

        math: [

            [1, 'What is three fifths of 100?', '60', '20', '5', '40',],
            [1, 'If David’s age is 27 years old in 2011. What was his age in 2003?', '19 years', '20 years', '37 years', '17 years',],
            [1, 'What is the remainder of 21 divided by 7?', 'None of these', '7', '1', '21',],
            [1, 'My number has a 7 in the ones place, and is less than 80 but greater than 70. What is my number?', '77', '75', '73', '71',],
            [1, 'How many years are there in a decade?', '5', '10', '20', '100',],
            [1, 'What is the square of 15?', '225', '252', '30', '15',],
            [1, 'How many months are there in a century?', '1200', '120', '12000', '12',],
            [1, '19 + ..... = 42', '23', '22', '24', '13',],
            [1, 'What is the symbol for pi?', '€', 'π', 'Ω', '∞',],
            [1, 'Arrange the numbers in ascending order: 36, 12, 29, 21, 7.', '7, 12, 21, 29, 36', '36, 29, 21, 12, 7', '36, 29, 7, 21, 12', 'None of these',],
            [1, 'What is the greatest two digit number?', '99', '100', '90', '11',],
            [1, 'How much is 90 – 19?', '71', '72', '61', 'None of these',],
            [2, 'What is 20 divisible by?', '2', '4', '3', '6',],
            [2, 'What is 30 divisible by?', '6', '15', '9', '8',],
            [2, 'What is 100 divisible by?', '10', '25', '45', '55',],
            [2, 'What is 50 divisible by?', '10', '25', '15', '45',],
            [2, 'What is 63 divisible by?', '9', '72', '61', '19',],
            [2, 'What is 70 divisible by?', '35', '10', '4', '6',],
            [1, 'Find the value of x; if x = (2 × 3) + 11.', '17', '55', '192', '66',],
            [1, 'What is the smallest three digit number?', '100', '101', '111', '999',],
            [1, 'How much is 190 – 87 + 16?', '119', '87', '261', '103',],
            [1, 'What is 1000 × 1 equal to?', '1000', '1', '0', 'None of these',],
            [1, 'How many sides are there in a nonagon?', '9', '5', '3', '7',],
            [1, 'How many months have 30 days.', '4', '5', '6', '11',],
            [1, 'Which number occurs before 9019?', '9099', '9109', '9091', 'None of these',],
            [1, 'In words number 14 can be written as ……', 'Fourteen.', 'Fourtien', 'Fortin', 'Forteen',]


        ],

        literature: [

            [1, 'Which one of these plays  was not written by        Shakespeare?', 'Machinal', 'Hamlet', 'King Lear', 'Twelfth Night',],
            [1, 'Who is the author of "To  Kill a Mockingbird"?', 'Harper Lee', 'Ernest Hemingway', 'Virginia Woolf', 'George Orwell',],
            [1, 'When was "1984" written?', '1948', '1964', '1984', '1998',],
            [1, 'Where did the famous King Arthur live?', 'Camelot', 'Nottingham', 'Sherwood', 'Glasgow',],
            [1, 'How many difficult tasks  did Hercules have to      complete?', '12', '16', '5', '9',],
            [1, 'In what century does "The Great Gatsby" take place?', '20th', '18th', '21st', '16th',],
            [1, 'Where does "Lord of the   Flies" take place?', 'An island', 'England', 'America', 'The Philippines',],
            [1, 'Who is the protagonist of the series "Lord of the   Rings"?', 'Frodo Baggins', 'Bilbo Baggins', 'Gandalf', 'Merlin',],

        ],

        science: [

            [1, 'What element has the atomic number    80?', 'Mercury', 'Oxygen', 'Nitrogen', 'Arsenic'],
            [1, 'What is the atomic mass   for Gold?', '196.97', '148.4', '156.92' , '123.1'],
            [1, 'What part of the cell contains the DNA and RNA?', 'Nucleus', 'cells', 'proteins', 'virus'],
            [1, 'What is the threadlike structure that carries our genetic information? ', 'Chromosomes' , 'DNA' , 'Nucleus' , 'cells'],
        ],

        history: [

            [1, 'What was the first European country to establish permanent settlements in the New World?', 'Britain', 'Spain','India', 'Portugal' ],
            [1, 'What was the first European country to establish permanent settlements in the New World?', 'Britain', 'Spain','India', 'Portugal' ]




        ]


    }

    function drawRoundedRect(x, y, width, height, roundness) {

        let smallSide = width > height ? height : width

        ctx.beginPath();
        ctx.moveTo(x + roundness * smallSide / 2, y);
        ctx.lineTo(x + width - roundness * smallSide / 2, y);
        ctx.quadraticCurveTo(x + width, y, x + width, y + roundness * smallSide / 2);
        ctx.lineTo(x + width, y + height - roundness * smallSide / 2);
        ctx.quadraticCurveTo(x + width, y + height, x + width - roundness * smallSide / 2, y + height);
        ctx.lineTo(x + roundness * smallSide / 2, y + height);
        ctx.quadraticCurveTo(x, y + height, x, y + height - roundness * smallSide / 2);
        ctx.lineTo(x, y + roundness * smallSide / 2);
        ctx.quadraticCurveTo(x, y, x + roundness * smallSide / 2, y);

        ctx.fill();
        ctx.stroke();

    }

    function writeText(text, x, y, cutoff) {

        for (let i = 0; i < Math.ceil(text.length / cutoff); i++) {

            ctx.fillText(text.substr(i * cutoff, cutoff), x, y + 30 * i)

        }

    }

    let mouseX;
    let mouseY;

    c = document.getElementById('miniQuiz');

    c.addEventListener('mousemove', e => {
        mouseX = e.offsetX;
        mouseY = e.offsetY;

        console.log(mouseX)
    });

    let question = miniQuizzesData.literature[Math.floor(Math.random() * miniQuizzesData.literature.length)]

    c.width = 1000
    c.height = 500

    ctx = c.getContext("2d");

    function animate() {
        requestAnimationFrame( animate )


        ctx.fillStyle = 'white';
        ctx.lineWidth = 18
        ctx.strokeStyle = 'black';
        drawRoundedRect(20, 20, c.width - 40, c.height - 40, 0.2)

        ctx.lineWidth = 10;
        ctx.strokeStyle = 'lightblue';
        drawRoundedRect(20, 20, c.width - 40, c.height - 40, 0.2)

        ctx.fillStyle = 'red'
        ctx.font = 'bold 32px serif';

        writeText(question[1], 40, 80, 26)

        let questionCount = question.length - 2



        for (let i = 1; i < question.length - 1; i++) {

            ctx.fillStyle = 'lightblue'
            ctx.strokeStyle = 'lightblue'
            if (
                mouseX > 500 &&
                mouseX < 1500 &&
                mouseY > -30 + 80 + (i - 1) * ((c.height - 200) / questionCount) &&
                mouseY < -30 + 80 + (i) * ((c.height - 200) / questionCount)
            ) drawRoundedRect(500, -25 + 80 + (i - 1) * ((c.height - 200) / questionCount), 300, 30, 0.1)

            ctx.fillStyle = 'black'
            writeText(i + ': ', 500,  80 + (i - 1) * ((c.height - 200) / questionCount), 25)
            ctx.fillStyle = 'red'
            writeText(question[i + 1], 515 + i.toString().length * 25,  80 + (i - 1) * ((c.height - 200) / questionCount), 25)

        }

        ctx.beginPath();
        ctx.strokeStyle = 'black';
        ctx.lineWidth = 5;
        ctx.moveTo(c.width / 2 - 30, 50);
        ctx.lineTo(c.width / 2 - 30, c.height - 50);
        ctx.stroke();

    }

    animate()

</script>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
