<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Math" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <style>
        img {
            margin-left: 15px;
            margin-right: 15px;
        }
    </style>
    <div class="titleOfHomePage">
        <p>Math</p>
    </div>


    <div class="h1">
        <p>What is "Math" and how can we help you with it?</p>
    </div>

    <div class="t1">
        <p>Mathematics includes the study of such topics as numbers, formulas and related structures, shapes and spaces in which they are contained, and quantities and their changes.</p>
    </div>


{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
