<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Math" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <style>
        body {
            background-color: #a7daf2;
            font-size: 10px;
            text-align: center;
        }

        img {
            margin-left: 15px;
            margin-right: 15px;
        }

        .h1 {
            color: white;
            font-size: 40px;
            text-align: center;
            margin-left: 20px;
        }

        .h2 {
            font-size: 40px;
            text-align: right;
            margin-right: 20px;
        }

        .t1 {
            color: white;
            font-size: 22px;
            margin-left: 200px;
            margin-right: 200px;
            text-align: center;
            margin-bottom: 100px;
        }

        .titleOfHomePage {
            color: white;
            font-size: 60px;
            margin-left: 10px;
            text-align: center;
        }

    </style>
    <div class="titleOfHomePage">
        <p>Math</p>
    </div>


    <div class="h1">
        <p>Math appears in our everyday lives, and is arguably the most important skill to learn in school.</p>
    </div>

    <div class="t1">
        <p>Without math, our society couldn't function. How would farmers know how much wheat to plant? How would employers know how much to pay their workers? Though students learn simple math, some of the most complex and strange events in the world can be explained with math.</p>
    </div>


{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
