<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Periodic Table" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<style>
    body {
        text-align: center;
    }
    #SearchInput {
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 60%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myList {
        list-style-type: none;
        padding: 0;
        margin-left: 25%;
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        list-style-type: none;
    }

    #myList li a {
        border: 1px solid #ddd;
        margin-top: -1px;
        background-color: #f6f6f6;
        padding: 12px;
        font-size: 18px;
        color: black;
        display: block
    }

    #myList li a:hover:not(.header) {
        background-color: #9ef4ff;
    }
    .col-12 {
        max-width: 70%;
    }

</style>
    <h1>Periodic Table lookup</h1>
    <br>
    <input type="text" id="SearchInput" onkeyup="searchBar()" placeholder="Search for elements" title="Type in an element">
    <br>
    <ul id="myList">
        <li><a href="#1">Hydrogen</a></li>
        <li><a href="#2">Helium</a></li>
        <li><a href="#3">Lithium</a></li>
        <li><a href="#4">Beryllium</a></li>
        <li><a href="#5">Boron</a></li>
        <li><a href="#6">Carbon</a></li>
        <li><a href="#7">Nitrogen</a></li>
        <li><a href="#7">Oxygen</a></li>
        <li><a href="#9">Fluorine</a></li>
        <li><a href="#10">Neon</a></li>
        <li><a href="#11">Sodium</a></li>
        <li><a href="#12">Magnesium</a></li>
        <li><a href="#13">Aluminum</a></li>
        <li><a href="#14">Silicon</a></li>
        <li><a href="#15">Phosphorus</a></li>
        <li><a href="#16">Sulfur</a></li>
        <li><a href="#17">Chlorine</a></li>
        <li><a href="#18">Argon</a></li>
    </ul>
    <div class="row justify-content-center">
        <h2 id="1">Hydrogen</h2>
        <div class="w-100"></div>
        <div class="col-12">
            Hydrogen is the chemical element with the symbol H and atomic number 1.
            Hydrogen is the lightest element.
            At standard conditions hydrogen is a gas of diatomic molecules having the formula H2.
            It is colorless, odorless, tasteless,[8] non-toxic, and highly combustible.
            Hydrogen is the most abundant chemical substance in the universe, constituting roughly 75% of all normal matter.
            Stars such as the Sun are mainly composed of hydrogen in the plasma state.
        </div>
        <div class="w-100"></div>
        <br>
        <h2 id="2">Helium</h2>
        <div class="w-100"></div>
        <div class = "col-12">
            Helium is a chemical element with the symbol He and atomic number 2.
            It is a colorless, odorless, tasteless, non-toxic, inert, monatomic gas, the first in the noble gas group in the periodic table.
            Its boiling and melting point are the lowest among all the elements.
            Helium is the second lightest and second most abundant element in the observable universe (hydrogen is the lightest and most abundant).
            It is present at about 24% of the total elemental mass, which is more than 12 times the mass of all the heavier elements combined.
        </div>
        <div class="w-100"></div>
        <br>
        <h2 id="3">Lithium</h2>
        <div class="w-100"></div>
        <div class="col-12">
            Lithium is a chemical element with the symbol Li and atomic number 3.
            It is a soft, silvery-white alkali metal.
            Under standard conditions, it is the least dense metal and the least dense solid element.
            Like all alkali metals, lithium is highly reactive and flammable, and must be stored in vacuum, inert atmosphere or inert liquid such as purified kerosene or mineral oil.
        </div>
        <div class="w-100"></div>
    <br>
    <p style="font-size: 10px">All information taken from www.wikipedia.com</p>
<script>
    function searchBar() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("SearchInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myList");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>
{% endblock %}
