<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Quizlet" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<style>
.col-lg {
    border-style: solid;
    max-width: 1200px;
    font-family: Helvetica;
    font-size: 50px;
    border-width: 1px;
}
.col-sm {
    border-style: solid;
    max-width: 400px;
    font-family: Helvetica;
    font-size: 25px;
    border-width: 1px;
}
</style>
<h1>Access any files from Quizlet</h1>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}