<!-- Extending the predefined project layout -->
{% extends "layouts/forum_base.html" %}
<!- This variable sets name of browser tab  -->
{% set project = "Forums" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<style>

    .profileModule {

    #rcorners4
        border-radius: 15px;
        background: #73AD21;
        padding: 20px;
        width: 200px;
        height: 150px;
    }


</style>
    <body>

    <div class="profileModule">

    </div>

    </body>

{% endblock %}
<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}