<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Economy x Weather Simulation" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<!- Try building a new body here ->

<!-- Bug Fix Board (Preferable Ordered by importance / occurrence

Issue #1 : When dragging one window onto another, windows bug out due to both trying to be dragged (Make only one draggable at a time)
    Resolved: No
Issue #2 : TBD

-->

<!-- Bug graveyard (Copy-paste bug info for future reminiscence ability)

Empty


-->
<style>
    :root {
        --sView_xPos: 90px;
        --sView_yPos: 90px;

        --sEx_xPos: 900px;
        --sEx_yPos: 90px;

        --sExW_zIndex: 1;
        --sGrW_zIndex: auto;
    }
    .stockGraphWindow {
        border: 1px solid white;
        font-family: monospace;
        width: 800px;
        height: 800px;
        text-align: left;
        position: absolute;
        margin-left: var(--sView_xPos);
        margin-top: var(--sView_yPos);
        z-index: var(--sGrW_zIndex);
        background-color: black;
    }

    .stockExchangeWindow {
        border: 1px solid white;
        font-family: monospace;
        width: 800px;
        height: 800px;
        text-align: left;
        position: absolute;
        margin-left: var(--sEx_xPos);
        margin-top: var(--sEx_yPos);
        z-index: var(--sExW_zIndex);
        background-color: black;
    }

    .windowNavbar {
        font-family: monospace;
        background-color: white;
        color: black;
    }


    .bg {
        background-color: rgb(1,130,129);
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden; /* Fixed Scroll amount */
        user-select: none; /* Disables text highlighting */
    }



</style>

<div class="bg">

    <div class="stockGraphWindow">
        <p class="windowNavbar">Stock Viewer</p>
    </div>

    <div class="stockExchangeWindow">
        <p class="windowNavbar">Stock Exchanger</p>
    </div>


    <p class="test0" id="test0">null</p> <!-- Used for verifying the game loop is running-->
    <p class="test1" id="test1">null</p> <!-- Used for verifying mouse action-->
    <p class="test1" id="test2">null</p> <!-- Used for verifying mouse movement-->
</div>


<script>
    // Declare functions and variables

    let test0 = 0 // To prove the loop is running
    let sViewX = 90; let sViewY = 90; // Declares stockViewer position
    let sExX = 900; let sExY = 90; // Declares stockExchanger position
    let mouseDown = [0, 0, 0, 0, 0, 0, 0, 0, 0]; let mouseDownCount = 0; let mouseX = 0; let mouseY = 0; // Declare mouse variables
    let navbarHeight = 90 // Represent pixel width of navbar
    let sVeXMouseGap = 0; let sVeYMouseGap = 0; // Gap between stock viewer and mouse
    let sExXMouseGap = 0; let sExYMouseGap = 0; // Gap between stock exchanger and mouse
    let windowDragged = 0; // Used for determining which window is being currently dragged
    let sExZ = 1; let sGrZ = 0; // Stores windows Z Index

    document.addEventListener('mousemove', logMouse); // Updates mouseX and mouseY when the mouse moves

    function logMouse(e) { // Logs mouse data in e
        mouseX = e.pageX;
        mouseY = e.pageY - navbarHeight;
    }

    function detectLeftButton() {
        // On mouse down display the current mouse action in a list
        document.body.onmousedown = function(evt) {
            ++mouseDown[evt.button];
            ++mouseDownCount;
        }
        document.body.onmouseup = function(evt) {
            --mouseDown[evt.button];
            --mouseDownCount;
        }

        // When clicking multiple buttons, this code sometimes glitches. If statement resets list
        if (mouseDown[0] <= -1 || mouseDown[0] >= 2) {
            mouseDown[0] = 0
        }
    }


    function test() {
        test0 += 1
        document.getElementById('test0').innerHTML = test0;
    }

    function updateWindowPositions() {

        // Draggable windows code
        detectLeftButton() // Gather left click info

        if (mouseDown[0] === 1) {

            if (mouseX >= sViewX && mouseX <= sViewX + 800 && mouseY >= sViewY && mouseY <= sViewY + 800 && sGrZ === 1 && windowDragged === 0 || windowDragged === 1) { // Updates drag for sView
                sViewX = mouseX - sVeXMouseGap;
                sViewY = mouseY - sVeYMouseGap;


                // Z handler
                document.documentElement.style.setProperty('--sGrW_zIndex', "1");
                sGrZ = 1
                windowDragged = 1
                document.documentElement.style.setProperty('--sExW_zIndex', "auto");
                sExZ = 0
            }

            if (mouseX >= sExX && mouseX <= sExX + 800 && mouseY >= sExY && mouseY <= sExY + 800 && sExZ === 1 && windowDragged === 0 || windowDragged === 2) { // Updates drag for sEx
                sExX = mouseX - sExXMouseGap;
                sExY = mouseY - sExYMouseGap;


                document.documentElement.style.setProperty('--sExW_zIndex', "1");
                sExZ = 1
                windowDragged = 2
                document.documentElement.style.setProperty('--sGrW_zIndex', "auto");
                sGrZ = 0
            }

            if (mouseX >= sViewX && mouseX <= sViewX + 800 && mouseY >= sViewY && mouseY <= sViewY + 800 && windowDragged === 0 || windowDragged === 1) { // Updates drag for sView
                sViewX = mouseX - sVeXMouseGap;
                sViewY = mouseY - sVeYMouseGap;


                // Z handler
                document.documentElement.style.setProperty('--sGrW_zIndex', "1");
                sGrZ = 1
                windowDragged = 1
                document.documentElement.style.setProperty('--sExW_zIndex', "auto");
                sExZ = 0
            }

            if (mouseX >= sExX && mouseX <= sExX + 800 && mouseY >= sExY && mouseY <= sExY + 800 && windowDragged === 0 || windowDragged === 2) { // Updates drag for sEx
                sExX = mouseX - sExXMouseGap;
                sExY = mouseY - sExYMouseGap;


                document.documentElement.style.setProperty('--sExW_zIndex', "1");
                sExZ = 1
                windowDragged = 2
                document.documentElement.style.setProperty('--sGrW_zIndex', "auto");
                sGrZ = 0
            }

            // Moves windows

            document.documentElement.style.setProperty('--sView_xPos', sViewX + "px");
            document.documentElement.style.setProperty('--sView_yPos', sViewY + "px");

            document.documentElement.style.setProperty('--sEx_xPos', sExX + "px");
            document.documentElement.style.setProperty('--sEx_yPos', sExY + "px");


        }   else {
            // Resets windowDragged
            windowDragged = 0

            // Updates gaps

            sVeXMouseGap = mouseX - sViewX;
            sVeYMouseGap = mouseY - sViewY;
            sExXMouseGap = mouseX - sExX;
            sExYMouseGap = mouseY - sExY;

        }

        // Update Positions
        document.getElementById('test1').innerHTML = mouseDown; // Check for mouse activity (dev)
        document.getElementById('test2').innerHTML = mouseX + " " + mouseY; // Check for mouse activity (dev)
    }
    function thread() { // Game loop

        test(); // Tests loop activity
        updateWindowPositions();


        setTimeout(function(){ thread(); }, 15); // Loops tick
    }

    thread() // Initiate game

</script>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}