<!-- Extending the predefined project layout -->
{% extends "layouts/game_base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Wekkonomics" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<!- Try building a new body here ->

<!-- Bug Fix / Item Board (Preferable Ordered by importance / occurrence
    Issue 4: (Small UIX issue) You can zoom in and out which ruins the immersion of the game.
        Resolved: No
-->

<!-- Bug / Item graveyard (Copy-paste bug info for future reminiscence ability)

Issue #1 : When dragging one window onto another, windows bug out due to both trying to be dragged (Make only one draggable at a time)
    Resolved: Yes

Issue #2 : No idea how to draw interpolated points onto ASCII graph
    Resolved: Yes

Issue #3 : Feeling to lazy to implement point modifier for stacking interpolated noise for perlin noise function
    Resolved: Yes

-->
<style>
    :root {
        --sView_xPos: 90px;
        --sView_yPos: 90px;

        --sEx_xPos: 900px;
        --sEx_yPos: 90px;

        --sExW_zIndex: 1;
        --sGrW_zIndex: auto;
    }

    .stockGraph {
        padding-left: 8px;
        line-height : 10px;
        letter-spacing: 2px;
        font-size: 14px
    }

    stockGraph2 {
        padding-left: 4px;
        line-height : 5px;
        letter-spacing: 1px;
        font-size: 7px
    }

    .stockGraphWindow {
        border: 1px solid white;
        font-family: monospace;
        width: 600px;
        height: 600px;
        text-align: left;
        position: absolute;
        margin-left: var(--sView_xPos);
        margin-top: var(--sView_yPos);
        z-index: var(--sGrW_zIndex);
        background-color: black;
        /* background: none; /* Testing purposes */
    }

    .stockExchangeWindow {
        border: 1px solid white;
        font-family: monospace;
        width: 600px;
        height: 600px;
        text-align: left;
        position: absolute;
        margin-left: var(--sEx_xPos);
        margin-top: var(--sEx_yPos);
        z-index: var(--sExW_zIndex);
        background-color: black;
        /* background: none; /* Testing purposes */
    }

    .windowNavbar {
        font-family: monospace;
        background-color: white;
        color: black;
    }

    .bg {
        background-color: rgb(1,130,129);
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden; /* Fixed Scroll amount */
        user-select: none; /* Disables text highlighting */
    }

</style>

<div class="bg">
    <div class="stockGraphWindow">
        <p class="windowNavbar">Stock Viewer</p>

        <!-- Graph -->
        <p class="stockGraph" id="stockGraphData">error</p>
    </div>

    <div class="stockExchangeWindow">
        <p class="windowNavbar">Stock Exchanger</p>
    </div>

    <p class="test0" id="test0">null</p> <!-- Used for verifying the game loop is running-->
    <p class="test0" id="test6">null</p> <!-- Used for time-->
    <p class="test0" id="test1">null</p> <!-- Used for verifying mouse action-->
    <p class="test0" id="test2">null</p> <!-- Used for verifying mouse movement-->
    <p class="test0" id="test3">null</p> <!-- Used for testing with an array-->
    <p class="test0" id="test4">null</p> <!-- Used for testing with an array-->
    <p class="test0" id="test5">null</p> <!-- Used for testing with an array-->
    <p class="test0" id="test7">null</p> <!-- Used for testing with an array-->
    <p class="test0" id="test8">null</p> <!-- Used for testing with an array-->
    <a href="/main_page">Home</a> <!-- Takes you to home page-->

</div>

<script>
    // Declare functions and variables

    let ticks = 0 // To prove the loop is running
    let hour = 0 // To prove the loop is running
    let stepTime = 1 // Time for one hour to go by

    let seed = 2 // Math.random() // Starting seed to seed everything else

    let sViewX = 90; let sViewY = 90; // Declares stockViewer position
    let sExX = 900; let sExY = 90; // Declares stockExchanger position
    let mouseDown = [0, 0, 0, 0, 0, 0, 0, 0, 0]; let mouseDownCount = 0; let mouseX = 0; let mouseY = 0; // Declare mouse variables
    let navbarHeight = 0 // Represent pixel width of navbar
    let sVeXMouseGap = 0; let sVeYMouseGap = 0; // Gap between stock viewer and mouse
    let sExXMouseGap = 0; let sExYMouseGap = 0; // Gap between stock exchanger and mouse
    let windowDragged = 0; // Used for determining which window is being currently dragged
    let sExZ = 1; let sGrZ = 0; // Stores windows Z Index
    let stockGraphData = ""; // Declares stockGraphData
    let stockGraphSize = 50; // Graph Size

    let stockCount = 7; // Number of stocks ### IMPORTANT TO KEEP RIGHT ###
    let initRandom = []

    for (let i = 0; i < stockCount; i++) {
        initRandom.push(557 * noise(seed + i, i))
    }

    let currentStockGraphed = 0;
    let zoom = 24; // How stretched on the X axis the stocks are (This is a constant of which should only be changed to either shorten or lengthen the overall time to play
    let scale = 2; //
    // Declaration of stock variables
    // Seed + consecutive fibonacci number
    // 1. Company name / 2. Stock Price / 3. Slogan / 4. Bad Thing / 5. Bad Thing / 6. Neutral Thing / 7. Neutral Thing / 8. Good Thing / 9. Good Thing / 10. Page break (not important)

    let stockData = [
        ["Candy Morse", "Stock price", 0, "Volatility", "Lifespan", "Highpoint", "Low-point", "Serving candy since white vans were a thing!", "One wrong order and we lose money?", "This business isn't as sweet as they said it would be...", "I mean, I guess it could be worse.", "Thing are going well. I hope I didn't Jinx myself.", "Our company is finally getting the credit it deserves!", "If this keeps up, I might buy myself a yacht!", "<br>"],
        ["Ramanujan's Perfect Gelato", "Stock price", 0, "Volatility", "Lifespan", "Highpoint", "Low-point", "Replacing Frost since 2021", "I guess adding mustard as a flavor wasn't a good idea.","Brain freeze isn't good for business.", "At least we aren't losing any money.", "Gelato is always popular.", "We might need to add a couple new locations!", "Money is raining down on us!", "<br>"],
        ["Moore's Chicken", "Stock price", 0, "Volatility", "Lifespan", "Highpoint", "Low-point", "Better than KFC!", "Those new three-legged chickens aren't selling too well.", "Apparently, we're not better than KFC...", "Just a regular day, looks like.", "Selling chicken pays pretty well.", "Take that, Colonel Sanders!", "And they said chicken was overrated. Look at us now!", "<br>"],
        ["Jakub's Fishies", "Stock price", 0, "Volatility", "Lifespan", "Highpoint", "The fishiest fish on the market","Those blasted whales are stealing all our goods!","I don't think our fish taste good...","Fishing is fun only when you make money","Hopefully this new species of see-through fish will sell.","As a certain crab once said, Money Money Money!","All this fish money makes me feel good.", "<br>"],
        ["Big Tony Pizza Factory", "Stock price", 0, "Volatility", "Lifespan", "Highpoint", "Low-point", "Buy some, or else.", "Mamma mia! This ain't good.","Life in the mafia doesn't look so bad right now...","Pizza never gets old.","Business is good, but I wouldn't mind some more customers.","I can finally buy that fancy suit I wanted!","I bet my cousin Luigi wishes he worked here now!", "<br>"],
        ["Anika's Lightsabers", "Stock price", 0, "Volatility", "Lifespan", "Highpoint", "Low-point", "This weapon is your life.", "Fear is the path to the dark side. Fear leads to anger; anger leads to hate; hate leads to suffering. I sense much fear in you.","What if I told you that the Republic was now under the control of a Dark Lord of the Sith?","You were my brother, Anakin. I loved you.","You are the Chosen One. You have brought balance to this world. Stay on this path, and you will do it again for the galaxy. But beware your heart.","I am one with the Force and the Force is with me.","Aren't you a little short for a stormtrooper?", "<br>"],
        ["Energix", "Stock price", 0, "Volatility", "Lifespan", "Highpoint", "Low-point", "Energized. Addicted. Broke.", "Stock price is down due to poor work ethic.","Y'all some lazy b!+@#$ for real.","Drugs!","Buy our stock. Buy our stock. Buy our stock. Buy our stock. Buy our stock.","This sure beats selling percs on the street corner back in the 90s...","All I'm $eeing right now is dolla $ign$!", "<br>"],
        // ["company name", ((noise(seed + PRIME NUMBER, 1) * 12 ) ** 2 + 9).toFixed(2), 0, "Slogan", "Stock price down text","Stock price down text","Stock price neutral text","Stock price neutral text","Stock price up text","Stock price up text", "<br>"],

    ];

    for (let i = 0; i < stockCount; i++) { // Adds raw stats to stocks
        addNewStats(i)
    }

    function addNewStats(stock) {
        stockData[stock][1] = initNoise(initRandom[stock]).toFixed(2)
        stockData[stock][3] = Math.round(557 * noise(initRandom[stock], 2))
        stockData[stock][4] = ((8 * noise(3 * initRandom[stock], 3)) + 13) ** 2
        stockData[stock][5] = 50
        stockData[stock][6] = 0
    }

    let stockHistory = [];

    for (let i = 0; i < stockCount; i++) {
        stockHistory.push([])
    }

    for (let x = 0; x < stockCount; x++) { // Stock number
        stockHistory[x][0] =  100 * noise(stockData[x][1], 1) // 100 * findPointModifiers((y + 10) / 100)[0] // 100 * noise(stockData[x][1], y) //Math.round(100 * noise(1, 1)) 557
    }

    for (let y = 0; y <= 1600; y++) { // Creates starting randomness for the stocks (Stock History Length)
        for (let x = 0; x < stockCount; x++) { // Stock number
            stockHistory[x][y] =  100 * noise(stockHistory[x][stockHistory[x].length - 1], 1) // 100 * findPointModifiers((y + 10) / 100)[0] // 100 * noise(stockData[x][1], y) //Math.round(100 * noise(1, 1)) 557
        }
    }

    // stockData = stockData.push(["Jakub's Burgers",2]) // Example of how to create a new stock an associated information
    // stockData[3][2] = "Best Burger's ever!" // Example of how to append new information to a specific stock

    // End of declaration

    document.addEventListener('mousemove', logMouse); // Updates mouseX and mouseY when the mouse moves

    function initNoise(x){
        return 10 * ((noise(seed + x, 1) * 6) ** 2 + 13)
    }

    function noise(seed, iterations) {
        let noise = seed;
        for (let i = 0; i <= iterations; i++) {
            noise = ((noise * 604211) + 667588) % 1048573
        }
        return noise / 1048572
    }

    function logMouse(e) { // Logs mouse data in e
        mouseX = e.pageX;
        mouseY = e.pageY - navbarHeight;
    }

    function detectLeftButton() {
        // On mouse down display the current mouse action in a list

        document.body.onmousedown = function(evt) {
            ++mouseDown[evt.button];
            ++mouseDownCount;
        }

        document.body.onmouseup = function(evt) {
            --mouseDown[evt.button];
            --mouseDownCount;
        }

        // When clicking multiple buttons, this code sometimes glitches. If statement resets list
        if (mouseDown[0] <= -1 || mouseDown[0] >= 2) {
            mouseDown[0] = 0
        }
    }

    function test() {
        document.getElementById('test0').innerHTML = ticks;
        document.getElementById('test6').innerHTML = hour;

        // document.getElementById('test3').innerHTML = ;
        document.getElementById('test4').innerHTML = stockData;
        document.getElementById('test5').innerHTML = stockHistory;
        document.getElementById('test7').innerHTML = findInterpolatedPoint(3, 2, 0.5);
        document.getElementById('test8').innerHTML = stockHistory[0].length
    }

    function findPointModifiers(x) {
        return [(3 * (x ** 2) - 2 * (x ** 3) + (((x - 0.903) / (2 * Math.abs(x - 0.903)) + 0.5) * 23.4 * (-1 * (((x - 0.903) ** 2) + 0.01) ** 0.5 + 0.1))) * (3 * ((x + 0.2) ** 2) - 2 * ((x + 0.2) ** 3)), (3 * (x + 0.2) ** 2 - 2 * (x + 0.2) ** 3)]
    }

    function findInterpolatedPoint(x1, x2, x) {
        return x1 * (-3 * (x ** 2) + 2 * (x ** 3) + 1) + x2 * (3 * (x ** 2) - 2 * (x ** 3)) // Smoothly non-linearly interpolates between two points
    }

    function GintNoise(x) {
        return findInterpolatedPoint(stockHistory[currentStockGraphed][Math.floor(x)], stockHistory[currentStockGraphed][Math.ceil(x)], (x) % 1)
    }

    function returnSpace(x){
        let n = ""
        for (let i = 0; i < x; i++) {
            n = n.concat(".")
        }
        return n
    }

    function stackNoise(x, stacks) {
        let stackedNoise = 0
        for (let i = 0; i < stacks; i++) {
            stackedNoise += (GintNoise(x / (zoom / (2 ** i))) / (2 ** i)) - (50 / (2 ** i))
        }

        return Math.floor(stackedNoise += (6 * noise(x, 1) - 3))
    }

    function updateGraphAndDisplay() {
        let num1 = 0
        let num2 = 0
        let num3 = 0
        scale = 2

        stockGraphData = "Name: " + stockData[currentStockGraphed][0] + "<br>"
        for (let i = 0; i < stockGraphSize + 7; i++) {
            stockGraphData = stockGraphData.concat("—")
        }

        stockGraphData = stockGraphData.concat("<br>")
        for (let y = 50 - stockGraphSize; y < 50; y++) { // Creates starting randomness for the stocks
            stockGraphData = stockGraphData.concat("|" + ('....' + Math.floor(scale * (50 - y))).slice(-4) + "|")
            for (let x = hour - stockData[currentStockGraphed][2]; x < stockGraphSize + hour - stockData[currentStockGraphed][2]; x++) {
                let temp = (stockData[currentStockGraphed][1] * findPointModifiers((x + 20) / stockData[currentStockGraphed][4])[0] + ((stackNoise(x, 4) / 2) * findPointModifiers((x + 20) / stockData[currentStockGraphed][4])[1]))

                if (x === hour - stockData[currentStockGraphed][2]) {
                    num1 = Math.floor(temp)
                } else if (x === hour - stockData[currentStockGraphed][2] + Math.floor(stockGraphSize / 2)) {
                    num2 = Math.floor(temp)
                } else if (x === stockGraphSize + hour - stockData[currentStockGraphed][2] - 1) {
                    num3 = Math.floor(temp)
                }

                if (Math.floor(temp / scale) === 50 - y) { //(First is company, second is history)
                    stockGraphData = stockGraphData.concat("#")
                } else if (Math.floor(temp / scale) >= 50 - y) {
                    stockGraphData = stockGraphData.concat("=")
                } else {
                    stockGraphData = stockGraphData.concat(".")
                }

                if (temp + 50 > stockData[currentStockGraphed][5]) {
                    stockData[currentStockGraphed][5] = temp + 50
                }

                if (temp - 10 < stockData[currentStockGraphed][5]) { // I gave up on doing min and max automatically of graph do later at home
                    stockData[currentStockGraphed][5] = temp + 50
                }

            }

            stockGraphData = stockGraphData.concat("|<br>")
        }

        for (let i = 0; i < stockGraphSize + 7; i++) {
            stockGraphData = stockGraphData.concat("—")
        }
        stockGraphData = stockGraphData.concat("<br>|Time|Price:" + returnSpace(stockGraphSize- 6) + "|<br>")
        for (let i = 0; i < stockGraphSize + 7; i++) {
            stockGraphData = stockGraphData.concat("—")
        }
        stockGraphData = stockGraphData.concat("<br>|"+ ('....' + (hour - stockData[currentStockGraphed][2])).slice(-4) + "|" + ('....' + num1).slice(-4) + returnSpace(stockGraphSize / 2 - 8) + ('....' + num2).slice(-4) + returnSpace(stockGraphSize / 2 - 4) + ('....' + num3).slice(-4) + "|<br>")
        for (let i = 0; i < stockGraphSize + 7; i++) {
            stockGraphData = stockGraphData.concat("—")
        }

        document.getElementById('stockGraphData').innerHTML = stockGraphData;
    }

    function updateWindowPositions() {

        // Draggable windows code
        detectLeftButton() // Gather left click info

        if (mouseDown[0] === 1) {

            if (mouseX >= sViewX && mouseX <= sViewX + 600 && mouseY >= sViewY && mouseY <= sViewY + 600 && sGrZ === 1 && windowDragged === 0 || windowDragged === 1) { // Updates drag for sView
                sViewX = mouseX - sVeXMouseGap;
                sViewY = mouseY - sVeYMouseGap;


                // Z handler
                document.documentElement.style.setProperty('--sGrW_zIndex', "1");
                sGrZ = 1
                windowDragged = 1
                document.documentElement.style.setProperty('--sExW_zIndex', "auto");
                sExZ = 0
            }

            if (mouseX >= sExX && mouseX <= sExX + 600 && mouseY >= sExY && mouseY <= sExY + 600 && sExZ === 1 && windowDragged === 0 || windowDragged === 2) { // Updates drag for sEx
                sExX = mouseX - sExXMouseGap;
                sExY = mouseY - sExYMouseGap;


                document.documentElement.style.setProperty('--sExW_zIndex', "1");
                sExZ = 1
                windowDragged = 2
                document.documentElement.style.setProperty('--sGrW_zIndex', "auto");
                sGrZ = 0
            }

            if (mouseX >= sViewX && mouseX <= sViewX + 600 && mouseY >= sViewY && mouseY <= sViewY + 600 && windowDragged === 0 || windowDragged === 1) { // Updates drag for sView
                sViewX = mouseX - sVeXMouseGap;
                sViewY = mouseY - sVeYMouseGap;


                // Z handler
                document.documentElement.style.setProperty('--sGrW_zIndex', "1");
                sGrZ = 1
                windowDragged = 1
                document.documentElement.style.setProperty('--sExW_zIndex', "auto");
                sExZ = 0
            }

            if (mouseX >= sExX && mouseX <= sExX + 600 && mouseY >= sExY && mouseY <= sExY + 600 && windowDragged === 0 || windowDragged === 2) { // Updates drag for sEx
                sExX = mouseX - sExXMouseGap;
                sExY = mouseY - sExYMouseGap;


                document.documentElement.style.setProperty('--sExW_zIndex', "1");
                sExZ = 1
                windowDragged = 2
                document.documentElement.style.setProperty('--sGrW_zIndex', "auto");
                sGrZ = 0
            }

            // Moves windows

            document.documentElement.style.setProperty('--sView_xPos', sViewX + "px");
            document.documentElement.style.setProperty('--sView_yPos', sViewY + "px");

            document.documentElement.style.setProperty('--sEx_xPos', sExX + "px");
            document.documentElement.style.setProperty('--sEx_yPos', sExY + "px");


        } else {

            // Resets windowDragged
            windowDragged = 0

            // Updates gaps

            sVeXMouseGap = mouseX - sViewX;
            sVeYMouseGap = mouseY - sViewY;
            sExXMouseGap = mouseX - sExX;
            sExYMouseGap = mouseY - sExY;

        }

        // Update Positions
        document.getElementById('test1').innerHTML = mouseDown; // Check for mouse activity (dev)
        document.getElementById('test2').innerHTML = mouseX + " " + mouseY; // Check for mouse activity (dev)
    }

    function elapseTime() {
        ticks += 1 // Elapses time
        if (ticks % stepTime === 0) {
            hour += 1
            slowThread();
        }

        //if (ticks %  (10 * stepTime)  === 0) {
        //    currentStockGraphed++
        //    currentStockGraphed = currentStockGraphed % (stockCount)
        //}
    }

    function thread() { // Game loop
        elapseTime(); // Timing
        test(); // Tests loop activity
        updateWindowPositions();

        setTimeout(function(){ thread(); }, 15); // Loops tick
    }

    function slowThread() {
        updateGraphAndDisplay();
    }

    thread() // Initiate game

</script>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}