<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Mini-Lab 1" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <style>
        p1 {
            font-size: 40px;
            padding-left: 12px;
            font-family: arial;
        }
    </style>
    <p1> Mini-Lab 1</p1>
    <div class="center-block" style="margin: 0% 0% 0%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <p>Hello, {{name}}!</p>
        </div>
        <div class="col-12">
            <form action="/lab1/" id="stub" method="POST" >
                <label for="name">Type a greeting name?</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!">
            </form>
        </div>

        <div class="col-12">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Flask_logo.svg/1200px-Flask_logo.svg.png" style="max-width:50%">
        </div>
    </div>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
