<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Home" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <h1>Temperature in San Diego</h1>
        <div class = "textWeather">
            <p>Temp in Degrees Celsius: {{temp}}</p>
            <p>{{desc}}</p>
            <p name = "temp" id = "temp"></p>
            <p name = "desc" id = "desc"></p>
        </div>
    </div>
    <style>
         body {
    text-align:center;
    color: light gray;
      background: linear-gradient(-45deg, #f3feed, #5c8be4, #fbb73a);
      background-size: 400% 400%;
      animation: gradient 14s ease infinite;
  }
    </style>
    <div style="font-size: 35px">
        <p></p>
        <p></p>
        <p>Design Wireframe</p>
    </div>
    <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
 padding-bottom: 48px; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin: 0% 15% 0%; overflow: hidden;
 border-radius: 8px; will-change: transform;">
        <iframe loading="lazy" style="position: absolute; width: 70%; height: 70%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAEoIwJCS6I&#x2F;view?embed">
        </iframe>
    </div>
    <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAEoIwJCS6I&#x2F;view?utm_content=DAEoIwJCS6I&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">wireframe</a> by Anika Sharma



{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
