<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}
<!- This variable sets name of browser tab  -->
{% set project = "Home" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<style>
 h1 {
     margin-top: 25px;
     font-size: 60px;
     font-family: Impact, serif;
     animation: fadeInFromNone 0.9s 0s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
 }
 .itemContainer {
     display: flex;
     flex-direction: row;
 }
 #mathIcon, #historyIcon, #scienceIcon, #literatureIcon {
     align-items: center;
     width: 25%;
     opacity: 0;
 }

 #mathIcon {animation: fadeInFromNone 0.9s 600ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards;}
 #historyIcon {animation: fadeInFromNone 0.9s 700ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards;}
 #scienceIcon {animation: fadeInFromNone 0.9s 800ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards;}
 #literatureIcon {animation: fadeInFromNone 0.9s 900ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards;}

 .textIcon {
     color: white;
     font-size: 40px;
     font-weight: bold;
 }
 #containerFlavorText {
     color: white;
     font-size: 40px;
     opacity: 0;
     animation: fadeInFromNone 0.9s 400ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
 }
 .t1 {
     margin-left: 200px;
     margin-right: 200px;
     margin-top: 20px;
     font-size: 25px;
     text-align: center;
     opacity: 0;
     animation: fadeInFromNone 0.9s 200ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
 }
 #vfx {
     position: absolute;
     margin: 0;
     padding: 0;
     top: 0;
     left: 0;
     z-index: -1;
 }
 @-webkit-keyframes fadeInFromNone {
     0% {
         opacity: 0;
     }

     1% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }
</style>
<h1>Backpack Pro+</h1>
<div class="t1">
    Backpack Pro is a website meant to help high school students around the US.
    <br>
    Learn about important topics such as Math, Science, History, and many more.
    <br>
    Access your files through embeds to pages like Google Drive or MyConnect.
    <br>
    Stay up to date on assignments with reminders, to-do lists, and a calendar.
    <br>
    So what are you waiting for? Start using Backpack Pro and get your grades up today!
</div>
    <br><br><br> <p id="containerFlavorText"> Click on any of these subjects to receive homework help</p> <br><br><br>
<body>

<div class="itemContainer">
    <div id="mathIcon">
        <img src="static/assets/iconography/mathsSubjectIcon.png" id="imageIcon1" alt='Website Error'> <br>
        <p class="textIcon" id='mathText'>Mathematics</p>
    </div>
    <div id="historyIcon">
        <img src="static/assets/iconography/historySubjectIcon.png" id="imageIcon2" alt='Website Error'> <br>
        <p class="textIcon" id='historyText'>American History</p>
    </div>
    <div id="scienceIcon">
        <img src="static/assets/iconography/scienceSubjectIcon.png" id="imageIcon3" alt='Website Error'> <br>
        <p class="textIcon" id='scienceText'>Science</p>
    </div>
    <div id="literatureIcon">
        <img src="static/assets/iconography/literatureSubjectIcon.png" id="imageIcon4" alt='Website Error'> <br>
        <p class="textIcon" id='literatureText'>English Literature</p>
    </div>
</div>

<canvas id='vfx'></canvas>
</body>
    <script>
        let c  = document.getElementById('vfx');
        let ctx = c.getContext('2d');
        c.width = screen.width;
        c.height = screen.height;
        particles = [];
        class Particle {
            constructor() {
                this.xPos = Math.random() * c.width;
                this.yPos = Math.random() * c.height;
                this.xVel = Math.random() * 10 - 5;
                this.yVel = Math.random() * 10 - 5;
                this.size = Math.random() * 3 + 2;
                this.lifetime = 0;
                this.decay = Math.random() * 2 + 1;
                this.opacity = 0;
                this.deletion = false;
            }
            update(dt) {
                this.xPos += this.xVel;
                this.yPos += this.yVel;
                this.lifetime += this.decay;
                this.opacity = (0.4 * ((this.lifetime / 40 - 5) ** 2) + 10) / 10;

                if (this.lifetime > 300) {this.deletion = true}
            }
            draw() {
                ctx.fillStyle = `rgba(255,255,255,${this.opacity})`;
                ctx.fillRect(this.xPos - this.size / 2, this.yPos - this.size / 2, this.size, this.size);
            }
        }
        for (let i = 0; i < 100; i++) {
            particles.push(new Particle())
        }
        let image1 = 0;
        let previousTime = 0.0;

        const loop = time => {
            // Compute the delta-time against the previous time
            const dt = time - previousTime; previousTime = time;

            // Update game
            update(dt);

            // Repeat
            window.requestAnimationFrame(loop);
        };

        // Launch
        window.requestAnimationFrame(time => {
            previousTime = time;

            window.requestAnimationFrame(loop);
        });

        function update(dt) {
            let iconWidth = document.getElementById("mathIcon").clientWidth;
            document.getElementById("mathIcon").style.height = iconWidth + "px";
            document.getElementById("imageIcon1").style.height = iconWidth / 2 + "px";
            document.getElementById("imageIcon1").style.width = iconWidth / 2 + "px";
            document.getElementById("imageIcon2").style.height = iconWidth / 2 + "px";
            document.getElementById("imageIcon2").style.width = iconWidth / 2 + "px";
            document.getElementById("imageIcon3").style.height = iconWidth / 2 + "px";
            document.getElementById("imageIcon3").style.width = iconWidth / 2 + "px";
            document.getElementById("imageIcon4").style.height = iconWidth / 2 + "px";
            document.getElementById("imageIcon4").style.width = iconWidth / 2 + "px";

            image1 > 0 ? image1-- : image1

            ctx.clearRect(0,0,screen.width, screen.height);
            for (let i = 0; i < particles.length; i++) {
                particles[i].update(dt)
                particles[i].draw()

            }
        }

        let mathDiv = document.getElementById("imageIcon1")
        mathDiv.addEventListener("mouseover", function() {
            document.getElementById("mathText").style.color = 'red';
        });
    </script>
{% endblock %}
<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
