{% extends "layouts/base.html" %}

<!DOCTYPE html>
<html lang="en">

{% block body %}

<head>
    <title>Top Movies</title>
    <style>

        p {
            font-family: "sans-serif";
            font-size: 21px;
            padding-left: 600px;
            padding-right: 600px;
        }
    </style>
</head>

<br>
<body>
<h1 style="text-align: center" >Top 10 Movies in Theaters</h1>
{% for movie in d_list %}
    <h2 style="text-align: center">{{ movie.title }}</h2>
    <h4 style="text-align: center">{{ movie.tagline }}</h4>
    <h5 style="text-align: center">{{ movie.genre }}</h5>
    <p style="text-align: center">{{ movie.caption }}</p>
    <p style="text-align: center">Released in {{ movie.country }} on {{ movie.date }}, {{ movie.title }} runs for {{ movie.runtime }} minutes, with viewers rating it at {{ movie.rating }} out of 10</p>
{% endfor %}

</body>

    <hr>
    <p style="font-size: 40px;text-align: center" >#1 Doctor Strange in the Multiverse of Madness</p>
    <br>
    <img src="/static/assets/movieimages/NJXQ8h3mUd9mhsh2m8xpba.jpg" style="height: 420px;width: 800px" class="center">
    <br>
    <p style="font-size: 20px;text-align: center;margin-left: 300px;margin-right: 300px">Synopsis: Dr Stephen Strange casts a forbidden spell that opens a portal to the multiverse. However, a threat emerges that may be too big for his team to handle.</p>
    <br>
    <hr>
    <p style="font-size: 40px;text-align: center" >#2 Firestarter</p>
    <br>
    <img src="/static/assets/movieimages/firestarter.jpg" style="height: 500px;width: 800px" class="center">
    <br>
    <p style="font-size: 20px;text-align: center;margin-left: 300px;margin-right: 300px">Synopsis: A couple desperately try to hide their daughter, Charlie, from a shadowy federal agency that wants to harness her unprecedented gift for turning fire into a weapon of mass destruction. Her father taught her how to defuse her power, but as Charlie turns 11, the fire becomes harder and harder to control. When a mysterious operative finally finds the family, he tries to seize Charlie once and for all -- but she has other plans.</p>
    <br>
    <hr>
    <p style="font-size: 40px;text-align: center" >#3 The Northman</p>
    <br>
    <img src="/static/assets/movieimages/Screenshot%202022-05-17%20135735.png" style="height: 1000px;width: 800px" class="center">
    <br>
    <p style="font-size: 20px;text-align: center;margin-left: 300px;margin-right: 300px">Synopsis: Prince Amleth is on the verge of becoming a man when his father is brutally murdered by his uncle, who kidnaps the boy's mother. Two decades later, Amleth is now a Viking who raids Slavic villages. He soon meets a seeress who reminds him of his vow -- save his mother, kill his uncle, avenge his father.</p>
    <br>
    <hr>
    <p style="font-size: 40px;text-align: center" >#4 Everything Everywhere All at Once</p>
    <br>
    <img src="/static/assets/movieimages/6d71539523a2d8fc47d84202caa9427f.jpg" style="height: 600px;width: 800px" class="center">
    <br>
    <p style="font-size: 20px;text-align: center;margin-left: 300px;margin-right: 300px">Synopsis: When an interdimensional rupture unravels reality, an unlikely hero must channel her newfound powers to fight bizarre and bewildering dangers from the multiverse as the fate of the world hangs in the balance.</p>
    <br>
    <hr>
    <p style="font-size: 40px;text-align: center" >#5 The Lost City</p>
    <br>
    <img src="/static/assets/movieimages/Screenshot%202022-05-17%20140225.png" style="height: 900px;width: 800px" class="center">
    <br>
    <p style="font-size: 20px;text-align: center;margin-left: 300px;margin-right: 300px">Synopsis: Reclusive author Loretta Sage writes about exotic places in her popular adventure novels that feature a handsome cover model named Alan. While on tour promoting her new book with Alan, Loretta gets kidnapped by an eccentric billionaire who hopes she can lead him to an ancient city's lost treasure from her latest story. Determined to prove he can be a hero in real life and not just on the pages of her books, Alan sets off to rescue her.</p>
    <br>
    <hr>
    <p style="font-size: 40px;text-align: center" >#6 X</p>
    <br>
    <img src="/static/assets/movieimages/X_(2022_film).jpeg" style="height: 1000px;width: 800px" class="center">
    <br>
    <p style="font-size: 20px;text-align: center;margin-left: 300px;margin-right: 300px">Synopsis: A group of actors sets out to make an adult film in rural Texas under the noses of their reclusive hosts, but when the elderly couple catches their young guests in the act, the cast finds themselves in a desperate fight for their lives.</p>
    <br>
    <hr>
    <p style="font-size: 40px;text-align: center" >#7 Operation Mincemeat</p>
    <br>
    <img src="/static/assets/movieimages/Operation_Mincemeat.jpg" style="height: 600px;width: 800px" class="center">
    <br>
    <p style="font-size: 20px;text-align: center;margin-left: 300px;margin-right: 300px">Synopsis: Operation Mincemeat is set in 1943 as the Allies are determined to launch an all-out assault on Fortress Europe. But they face an impossible challenge - to protect a massive invasion force from entrenched German firepower and avert a potential massacre.</p>
    <br>

</html>

{% endblock %}
