<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Chem" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<style>
    body {
        text-align: center;
        font-size: x-large;
    }
    .col-12 {
        max-width: 70%;
    }

</style>
    <h1>AP Chem Class Experience</h1>
    <div class="row justify-content-center">
        <div class="w-100"></div>
        <div class="col-12">
            In AP chem, a lot of notes are taken. Notes are printed out and then are reviewed together with the teacher in class. Stuff is highlighted and things are written on the margins.
            The notes usually contain a lot of information involving many different equations and experiments.
            There are usually a new set of notes every unit and there are around 3 or 4 units in one trimester
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="w-100"></div>
        <h2>Labs</h2>
        <div class="w-100"></div>
        <div class="col-12">
           Labs are one of the most important parts of AP chem. Obviously, AP chem is a science class and so there is going to be labs constantly.
            Usually a lab is done every unit and after the lab, a report must also be done with your table group. A report with the data gained, post-lab questions, and other important aspects to the lab are needed.
            <br>
            <br>
            <br>
            <table class="row justify-content-center">
                <tr>
                    <th style="height:30px;width:400px;text-align:center;"> Spontaneous Labs </th>
                    <th style="height:30px;width:400px;text-align:center;"> Storyboarded Labs </th>
                </tr>
                <tr>
                    <td>
                        The tools and materials for the lab is already given to you. So is the goal of the lab.
                        As a student, you are required to figure out what to do and get to the goal with the given tools and materials. This goal is usually some number that needs to calculated and the only way to calculate the number is to use the data from the lab.
                    </td>
                    <td>
                        In a storyboarded lab, every student has already read some background information and already knows every step of the lab.
                        You would've made the storyboard to the lab the night before. Then in class the lab is done following the storyboard and the lab data is recorded.
                    </td>
                </tr>
            </table>

        </div>
        <div class="w-100"></div>
        <br>
        <img src="/static/assets/class_experiences/Chem Lab.jpeg">
    </div>
{% endblock %}