<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Learning Zone" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <style>
        .t1 {
            margin-left: 10%;
            margin-right: 10%;
        }
        table{margin-left:1%}
        td{color:#10de24; padding:6px 13px; background-color: #000000; border:1px solid #dfe2e5}
        tr{color:#10de24; background-color:#000;border-top:1px solid #c6cbd1}
        a{color:#10de24;text-decoration:none; display:block}
        a:hover{color:#10de24;text-decoration:underline}
    </style>

    <table>
        <tbody>
            <tr>
                <td><a href="/">Top Movies</a></td>
                <td><a href="/">Learning API</a></td>
                <td><a href="/popcornpages/notes">Movies Review</a></td>
                <td><a href="/"></a></td>
            </tr>
        </tbody>
    </table>

    <img style="width: 270px;" src="NO LINK TEMP FILLER">

    <div class="titleOfHomePage">
        <p>Learning Zone - Movies</p>
    </div>
    <hr color="white" width="50%">
    <div style="margin-left: 20%; margin-right: 20%" class="h2">
        <p>ADD CONTENT HERE</p>
    </div>
    {#    <hr color="white" width="80%">#}
    <div class="t1">
        <p>ADD CONTENT HERE</p>
    </div>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
